[data-cellid="grid_c1"][data-page=".global_menu"][data-cellid="grid_c1"][data-page=".global_menu"][data-cellid="grid_c1"][data-page=".global_menu"] {
  padding-top: 50px;
}
[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #BC8F8F;
}
[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #6ab3c6;
}
[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #bc8f8f;
}
[data-page=".global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #d0952e;
}
[data-page=".global_menu"][data-itemid="welcome_item5"] > .bs-welcome-header {
  background-color: #cab84d;
}
[data-page=".global_menu"][data-itemid="welcome_item6"] > .bs-welcome-header {
  background-color: #BC8F8F;
}
[data-page=".global_menu"][data-itemid="welcome_item7"] > .bs-welcome-header {
  background-color: #898be0;
}
[data-page=".global_menu"][data-itemid="welcome_item9"] > .bs-welcome-header {
  background-color: #a6c6ff;
}
[data-page=".global_menu"][data-itemid="welcome_item4"] > .bs-welcome-header {
  background-color: #4c8282;
}
[data-page=".global_menu"][data-itemid="welcome_item10"] > .bs-welcome-header {
  background-color: #E8926F;
}
[data-page=".global_menu"][data-itemid="welcome_item11"] > .bs-welcome-header {
  background-color: #5F9EA0;
}
[data-page=".global_menu"][data-itemid="welcome_item12"] > .bs-welcome-header {
  background-color: #778899;
}
[data-page=".global_menu"][data-itemid="welcome_item13"] > .bs-welcome-header {
  background-color: #6DA5C8;
}
[data-page=".global_menu"][data-itemid="welcome_item14"] > .bs-welcome-header {
  background-color: #6DA5C8;
}
[data-page=".global_menu"][data-itemid="welcome_item16"] > .bs-welcome-header {
  background-color: #9ACD32;
}
[data-page=".global_menu"][data-itemid="welcome_item17"] > .bs-welcome-header {
  background-color: #9ACD32;
}
[data-page=".global_menu"][data-itemid="welcome_group"] {
  padding-top: 10px;
  padding-bottom: 10px;
}
[data-page=".global_menu"][data-itemid="welcome_item15"] > .bs-welcome-header {
  background-color: #9ACD32;
}
[data-page=".global_menu"][data-itemid="welcome_item18"] > .bs-welcome-header {
  background-color: #778899;
}
[data-page=".global_menu"][data-itemid="welcome_item19"] > .bs-welcome-header {
  background-color: #00C2C5;
}
[data-page=".global_menu"][data-itemid="welcome_item20"] > .bs-welcome-header {
  background-color: #1E90FF;
}
[data-page=".global_menu"][data-itemid="welcome_item21"] > .bs-welcome-header {
  background-color: #E8926F;
}
[data-page=".global_menu"][data-itemid="welcome_item22"] > .bs-welcome-header {
  background-color: #4682B4;
}
[data-page=".global_menu"][data-itemid="welcome_item23"] > .bs-welcome-header {
  background-color: #5F9EA0;
}
[data-page=".global_menu"][data-itemid="welcome_item24"] > .bs-welcome-header {
  background-color: #5F9EA0;
}
[data-page=".global_menu"][data-itemid="welcome_item25"] > .bs-welcome-header {
  background-color: #4682B4;
}
[data-page=".global_menu"][data-itemid="welcome_item26"] > .bs-welcome-header {
  background-color: #7B68EE;
}
[data-page=".global_menu"][data-itemid="welcome_item27"] > .bs-welcome-header {
  background-color: #BC8F8F;
}


