[data-cellid="grid_footcell_field"][data-page="arm_po_print"][data-cellid="grid_footcell_field"][data-page="arm_po_print"][data-cellid="grid_footcell_field"][data-page="arm_po_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="arm_po_print"][data-cellid="grid_footcell_field1"][data-page="arm_po_print"][data-cellid="grid_footcell_field1"][data-page="arm_po_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="arm_po_print"][data-cellid="grid_footcell_field2"][data-page="arm_po_print"][data-cellid="grid_footcell_field2"][data-page="arm_po_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="arm_po_print"][data-cellid="grid_footcell_field3"][data-page="arm_po_print"][data-cellid="grid_footcell_field3"][data-page="arm_po_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="arm_po_print"][data-cellid="grid_footcell_field4"][data-page="arm_po_print"][data-cellid="grid_footcell_field4"][data-page="arm_po_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="arm_po_print"][data-cellid="grid_footcell_field5"][data-page="arm_po_print"][data-cellid="grid_footcell_field5"][data-page="arm_po_print"] {
  white-space: nowrap;
}


