[data-cellid="grid_cell_field1"][data-page="arm_list"][data-cellid="grid_cell_field1"][data-page="arm_list"][data-cellid="grid_cell_field1"][data-page="arm_list"] {
  width: 150px;
}
[data-cellid="grid_footcell_field1"][data-page="arm_list"][data-cellid="grid_footcell_field1"][data-page="arm_list"][data-cellid="grid_footcell_field1"][data-page="arm_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field4"][data-page="arm_list"][data-cellid="grid_cell_field4"][data-page="arm_list"][data-cellid="grid_cell_field4"][data-page="arm_list"] {
  width: 70px;
}
[data-cellid="grid_footcell_field4"][data-page="arm_list"][data-cellid="grid_footcell_field4"][data-page="arm_list"][data-cellid="grid_footcell_field4"][data-page="arm_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field6"][data-page="arm_list"][data-cellid="grid_cell_field6"][data-page="arm_list"][data-cellid="grid_cell_field6"][data-page="arm_list"] {
  width: 200px;
}
[data-cellid="grid_footcell_field6"][data-page="arm_list"][data-cellid="grid_footcell_field6"][data-page="arm_list"][data-cellid="grid_footcell_field6"][data-page="arm_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field7"][data-page="arm_list"][data-cellid="grid_cell_field7"][data-page="arm_list"][data-cellid="grid_cell_field7"][data-page="arm_list"] {
  width: 215px;
}
[data-cellid="grid_footcell_field7"][data-page="arm_list"][data-cellid="grid_footcell_field7"][data-page="arm_list"][data-cellid="grid_footcell_field7"][data-page="arm_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="arm_list"][data-cellid="grid_headcell_icons"][data-page="arm_list"][data-cellid="grid_headcell_icons"][data-page="arm_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="arm_list"][data-cellid="grid_cell_icons"][data-page="arm_list"][data-cellid="grid_cell_icons"][data-page="arm_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="arm_list"][data-cellid="grid_headcell_checkbox"][data-page="arm_list"][data-cellid="grid_headcell_checkbox"][data-page="arm_list"] {
  width: 30px;
}
[data-cellid="grid_cell_checkbox"][data-page="arm_list"][data-cellid="grid_cell_checkbox"][data-page="arm_list"][data-cellid="grid_cell_checkbox"][data-page="arm_list"] {
  width: 35px;
}
[data-cellid="grid_headcell_field9"][data-page="arm_list"][data-cellid="grid_headcell_field9"][data-page="arm_list"][data-cellid="grid_headcell_field9"][data-page="arm_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="arm_list"][data-cellid="grid_cell_details"][data-page="arm_list"][data-cellid="grid_cell_details"][data-page="arm_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_cell_field"][data-page="arm_list"][data-cellid="grid_cell_field"][data-page="arm_list"][data-cellid="grid_cell_field"][data-page="arm_list"] {
  width: 80px;
}
[data-cellid="grid_footcell_field"][data-page="arm_list"][data-cellid="grid_footcell_field"][data-page="arm_list"][data-cellid="grid_footcell_field"][data-page="arm_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field2"][data-page="arm_list"][data-cellid="grid_cell_field2"][data-page="arm_list"][data-cellid="grid_cell_field2"][data-page="arm_list"] {
  width: 70px;
}
[data-cellid="grid_footcell_field2"][data-page="arm_list"][data-cellid="grid_footcell_field2"][data-page="arm_list"][data-cellid="grid_footcell_field2"][data-page="arm_list"] {
  white-space: nowrap;
}


