[data-cellid="grid_footcell_field"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field"][data-page="cons_cartridge_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field1"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field1"][data-page="cons_cartridge_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field2"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field2"][data-page="cons_cartridge_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field4"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field4"][data-page="cons_cartridge_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field5"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field5"][data-page="cons_cartridge_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field6"][data-page="cons_cartridge_list"][data-cellid="grid_footcell_field6"][data-page="cons_cartridge_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="cons_cartridge_list"][data-cellid="grid_cell_details"][data-page="cons_cartridge_list"][data-cellid="grid_cell_details"][data-page="cons_cartridge_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="cons_cartridge_list"][data-cellid="grid_headcell_icons"][data-page="cons_cartridge_list"][data-cellid="grid_headcell_icons"][data-page="cons_cartridge_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="cons_cartridge_list"][data-cellid="grid_cell_icons"][data-page="cons_cartridge_list"][data-cellid="grid_cell_icons"][data-page="cons_cartridge_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="cons_cartridge_list"][data-cellid="grid_headcell_checkbox"][data-page="cons_cartridge_list"][data-cellid="grid_headcell_checkbox"][data-page="cons_cartridge_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_field10"][data-page="cons_cartridge_list"][data-cellid="grid_headcell_field10"][data-page="cons_cartridge_list"][data-cellid="grid_headcell_field10"][data-page="cons_cartridge_list"] {
  white-space: nowrap;
}


