[data-cellid="grid_c4"][data-page="doc_int_add"][data-cellid="grid_c4"][data-page="doc_int_add"][data-cellid="grid_c4"][data-page="doc_int_add"] {
  width: 150px;
}
[data-cellid="grid_c2"][data-page="doc_int_add"][data-cellid="grid_c2"][data-page="doc_int_add"][data-cellid="grid_c2"][data-page="doc_int_add"] {
  width: 250px;
}
[data-cellid="grid_c"][data-page="doc_int_add"][data-cellid="grid_c"][data-page="doc_int_add"][data-cellid="grid_c"][data-page="doc_int_add"] {
  width: 200px;
}
[data-cellid="grid_c5"][data-page="doc_int_add"][data-cellid="grid_c5"][data-page="doc_int_add"][data-cellid="grid_c5"][data-page="doc_int_add"] {
  width: 150px;
}
[data-cellid="grid_c3"][data-page="doc_int_add"][data-cellid="grid_c3"][data-page="doc_int_add"][data-cellid="grid_c3"][data-page="doc_int_add"] {
  width: 250px;
}
[data-cellid="grid_c6"][data-page="doc_int_add"][data-cellid="grid_c6"][data-page="doc_int_add"][data-cellid="grid_c6"][data-page="doc_int_add"] {
  width: 200px;
}
[data-cellid="grid_c7"][data-page="doc_int_add"][data-cellid="grid_c7"][data-page="doc_int_add"][data-cellid="grid_c7"][data-page="doc_int_add"] {
  width: 150px;
}
[data-cellid="grid_c8"][data-page="doc_int_add"][data-cellid="grid_c8"][data-page="doc_int_add"][data-cellid="grid_c8"][data-page="doc_int_add"] {
  width: 450px;
}
[data-cellid="grid_c10"][data-page="doc_int_add"][data-cellid="grid_c10"][data-page="doc_int_add"][data-cellid="grid_c10"][data-page="doc_int_add"] {
  width: 150px;
}
[data-cellid="grid_c11"][data-page="doc_int_add"][data-cellid="grid_c11"][data-page="doc_int_add"][data-cellid="grid_c11"][data-page="doc_int_add"] {
  width: 450px;
}
[data-cellid="grid_c13"][data-page="doc_int_add"][data-cellid="grid_c13"][data-page="doc_int_add"][data-cellid="grid_c13"][data-page="doc_int_add"] {
  width: 150px;
}
[data-cellid="grid_c14"][data-page="doc_int_add"][data-cellid="grid_c14"][data-page="doc_int_add"][data-cellid="grid_c14"][data-page="doc_int_add"] {
  width: 450px;
}
[data-cellid="grid_c16"][data-page="doc_int_add"][data-cellid="grid_c16"][data-page="doc_int_add"][data-cellid="grid_c16"][data-page="doc_int_add"] {
  width: 150px;
}
[data-cellid="grid_c17"][data-page="doc_int_add"][data-cellid="grid_c17"][data-page="doc_int_add"][data-cellid="grid_c17"][data-page="doc_int_add"] {
  width: 650px;
}
[data-cellid="grid_c19"][data-page="doc_int_add"][data-cellid="grid_c19"][data-page="doc_int_add"][data-cellid="grid_c19"][data-page="doc_int_add"] {
  width: 150px;
}
[data-cellid="grid_c20"][data-page="doc_int_add"][data-cellid="grid_c20"][data-page="doc_int_add"][data-cellid="grid_c20"][data-page="doc_int_add"] {
  width: 650px;
}
[data-cellid="grid_c22"][data-page="doc_int_add"][data-cellid="grid_c22"][data-page="doc_int_add"][data-cellid="grid_c22"][data-page="doc_int_add"] {
  background-color: #485563;
  width: 100%;
  color: #ffffff;
  padding-left: 5px;
}
[data-cellid="grid_c28"][data-page="doc_int_add"][data-cellid="grid_c28"][data-page="doc_int_add"][data-cellid="grid_c28"][data-page="doc_int_add"] {
  background-color: #c99898;
  width: 150px;
}
[data-cellid="grid_c29"][data-page="doc_int_add"][data-cellid="grid_c29"][data-page="doc_int_add"][data-cellid="grid_c29"][data-page="doc_int_add"] {
  background-color: #c99898;
  width: 250px;
}
[data-cellid="grid_c31"][data-page="doc_int_add"][data-cellid="grid_c31"][data-page="doc_int_add"][data-cellid="grid_c31"][data-page="doc_int_add"] {
  background-color: #93bf8d;
  width: 150px;
}
[data-cellid="grid_c32"][data-page="doc_int_add"][data-cellid="grid_c32"][data-page="doc_int_add"][data-cellid="grid_c32"][data-page="doc_int_add"] {
  background-color: #93bf8d;
  width: 250px;
}
[data-cellid="grid_c33"][data-page="doc_int_add"][data-cellid="grid_c33"][data-page="doc_int_add"][data-cellid="grid_c33"][data-page="doc_int_add"] {
  background-color: #93bf8d;
  width: 200px;
}
[data-cellid="grid_c34"][data-page="doc_int_add"][data-cellid="grid_c34"][data-page="doc_int_add"][data-cellid="grid_c34"][data-page="doc_int_add"] {
  width: 150px;
}
[data-cellid="grid_c35"][data-page="doc_int_add"][data-cellid="grid_c35"][data-page="doc_int_add"][data-cellid="grid_c35"][data-page="doc_int_add"] {
  width: 450px;
}
[data-cellid="grid_c1"][data-page="doc_int_add"][data-cellid="grid_c1"][data-page="doc_int_add"][data-cellid="grid_c1"][data-page="doc_int_add"] {
  width: 200px;
}
[data-cellid="grid_c37"][data-page="doc_int_add"][data-cellid="grid_c37"][data-page="doc_int_add"][data-cellid="grid_c37"][data-page="doc_int_add"] {
  width: 200px;
}
[data-cellid="grid_c38"][data-page="doc_int_add"][data-cellid="grid_c38"][data-page="doc_int_add"][data-cellid="grid_c38"][data-page="doc_int_add"] {
  width: 200px;
}
[data-cellid="grid_c39"][data-page="doc_int_add"][data-cellid="grid_c39"][data-page="doc_int_add"][data-cellid="grid_c39"][data-page="doc_int_add"] {
  width: 200px;
}
[data-cellid="grid_c40"][data-page="doc_int_add"][data-cellid="grid_c40"][data-page="doc_int_add"][data-cellid="grid_c40"][data-page="doc_int_add"] {
  width: 200px;
}
[data-cellid="grid_c45"][data-page="doc_int_add"][data-cellid="grid_c45"][data-page="doc_int_add"][data-cellid="grid_c45"][data-page="doc_int_add"] {
  background-color: #c99898;
  width: 200px;
}
[data-cellid="grid_c46"][data-page="doc_int_add"][data-cellid="grid_c46"][data-page="doc_int_add"][data-cellid="grid_c46"][data-page="doc_int_add"] {
  background-color: #93bf8d;
  width: 200px;
}
[data-cellid="grid_c47"][data-page="doc_int_add"][data-cellid="grid_c47"][data-page="doc_int_add"][data-cellid="grid_c47"][data-page="doc_int_add"] {
  width: 200px;
}
[data-cellid="grid_c48"][data-page="doc_int_add"][data-cellid="grid_c48"][data-page="doc_int_add"][data-cellid="grid_c48"][data-page="doc_int_add"] {
  background-color: #485563;
  width: 100%;
  color: #ffffff;
}
[data-cellid="grid_c49"][data-page="doc_int_add"][data-cellid="grid_c49"][data-page="doc_int_add"][data-cellid="grid_c49"][data-page="doc_int_add"] {
  background-color: #c99898;
}
[data-cellid="grid_c50"][data-page="doc_int_add"][data-cellid="grid_c50"][data-page="doc_int_add"][data-cellid="grid_c50"][data-page="doc_int_add"] {
  background-color: #c99898;
}
[data-cellid="grid_c51"][data-page="doc_int_add"][data-cellid="grid_c51"][data-page="doc_int_add"][data-cellid="grid_c51"][data-page="doc_int_add"] {
  background-color: #c99898;
}
[data-cellid="grid_c52"][data-page="doc_int_add"][data-cellid="grid_c52"][data-page="doc_int_add"][data-cellid="grid_c52"][data-page="doc_int_add"] {
  background-color: #c99898;
}
[data-cellid="grid_c53"][data-page="doc_int_add"][data-cellid="grid_c53"][data-page="doc_int_add"][data-cellid="grid_c53"][data-page="doc_int_add"] {
  background-color: #485563;
  width: 100%;
  color: #ffffff;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field"][data-page="doc_int_add"][data-itemid="integrated_edit_field"][data-page="doc_int_add"][data-itemid="integrated_edit_field"][data-page="doc_int_add"][data-itemid="integrated_edit_field"] {
  width: 150px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field1"][data-page="doc_int_add"][data-itemid="integrated_edit_field1"][data-page="doc_int_add"][data-itemid="integrated_edit_field1"][data-page="doc_int_add"][data-itemid="integrated_edit_field1"] {
  width: 150px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field2"][data-page="doc_int_add"][data-itemid="integrated_edit_field2"][data-page="doc_int_add"][data-itemid="integrated_edit_field2"][data-page="doc_int_add"][data-itemid="integrated_edit_field2"] {
  width: 300px;
  padding-top: 5px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field3"][data-page="doc_int_add"][data-itemid="integrated_edit_field3"][data-page="doc_int_add"][data-itemid="integrated_edit_field3"][data-page="doc_int_add"][data-itemid="integrated_edit_field3"] {
  width: 300px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field4"][data-page="doc_int_add"][data-itemid="integrated_edit_field4"][data-page="doc_int_add"][data-itemid="integrated_edit_field4"][data-page="doc_int_add"][data-itemid="integrated_edit_field4"] {
  width: 300px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field5"][data-page="doc_int_add"][data-itemid="integrated_edit_field5"][data-page="doc_int_add"][data-itemid="integrated_edit_field5"][data-page="doc_int_add"][data-itemid="integrated_edit_field5"] {
  width: 300px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field6"][data-page="doc_int_add"][data-itemid="integrated_edit_field6"][data-page="doc_int_add"][data-itemid="integrated_edit_field6"][data-page="doc_int_add"][data-itemid="integrated_edit_field6"] {
  width: 500px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field7"][data-page="doc_int_add"][data-itemid="integrated_edit_field7"][data-page="doc_int_add"][data-itemid="integrated_edit_field7"][data-page="doc_int_add"][data-itemid="integrated_edit_field7"] {
  width: 500px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field8"][data-page="doc_int_add"][data-itemid="integrated_edit_field8"][data-page="doc_int_add"][data-itemid="integrated_edit_field8"][data-page="doc_int_add"][data-itemid="integrated_edit_field8"] {
  width: 150px;
  padding-top: 5px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field10"][data-page="doc_int_add"][data-itemid="integrated_edit_field10"][data-page="doc_int_add"][data-itemid="integrated_edit_field10"][data-page="doc_int_add"][data-itemid="integrated_edit_field10"] {
  width: 150px;
  padding-top: 5px;
}
[data-page="doc_int_add"][data-itemid="integrated_edit_field11"][data-page="doc_int_add"][data-itemid="integrated_edit_field11"][data-page="doc_int_add"][data-itemid="integrated_edit_field11"][data-page="doc_int_add"][data-itemid="integrated_edit_field11"] {
  width: 400px;
}
[data-page="doc_int_add"][data-itemid="text"] {
  padding-left: 5px;
}
[data-page="doc_int_add"][data-itemid="text1"] {
  padding-left: 5px;
}
[data-page="doc_int_add"][data-itemid="text2"] {
  padding-left: 5px;
}


