[data-cellid="grid_footcell_field"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field1"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field1"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field2"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field2"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field3"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field3"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field4"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field4"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field5"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field5"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field6"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field6"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field7"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field7"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field8"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field8"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field9"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field9"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field10"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field10"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field11"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field11"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field12"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field12"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field13"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field13"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field14"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field14"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field15"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field15"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field16"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field16"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field17"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field17"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field17"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field18"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field18"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field18"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field19"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field19"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field19"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field20"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field20"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field20"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field21"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field21"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field21"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field22"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field22"][data-page="doc_in_masterprint"][data-cellid="grid_footcell_field22"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="doc_in_masterprint"][data-cellid="grid_headcell_icons"][data-page="doc_in_masterprint"][data-cellid="grid_headcell_icons"][data-page="doc_in_masterprint"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="doc_in_masterprint"][data-cellid="grid_cell_icons"][data-page="doc_in_masterprint"][data-cellid="grid_cell_icons"][data-page="doc_in_masterprint"] {
  white-space: nowrap;
}


