[data-cellid="grid_cell_field"][data-page="ecp_list"][data-cellid="grid_cell_field"][data-page="ecp_list"][data-cellid="grid_cell_field"][data-page="ecp_list"] {
  width: 250px;
}
[data-cellid="grid_footcell_field"][data-page="ecp_list"][data-cellid="grid_footcell_field"][data-page="ecp_list"][data-cellid="grid_footcell_field"][data-page="ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field2"][data-page="ecp_list"][data-cellid="grid_cell_field2"][data-page="ecp_list"][data-cellid="grid_cell_field2"][data-page="ecp_list"] {
  width: 250px;
}
[data-cellid="grid_footcell_field2"][data-page="ecp_list"][data-cellid="grid_footcell_field2"][data-page="ecp_list"][data-cellid="grid_footcell_field2"][data-page="ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field4"][data-page="ecp_list"][data-cellid="grid_cell_field4"][data-page="ecp_list"][data-cellid="grid_cell_field4"][data-page="ecp_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field4"][data-page="ecp_list"][data-cellid="grid_footcell_field4"][data-page="ecp_list"][data-cellid="grid_footcell_field4"][data-page="ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="ecp_list"][data-cellid="grid_headcell_icons"][data-page="ecp_list"][data-cellid="grid_headcell_icons"][data-page="ecp_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="ecp_list"][data-cellid="grid_cell_icons"][data-page="ecp_list"][data-cellid="grid_cell_icons"][data-page="ecp_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="ecp_list"][data-cellid="grid_headcell_checkbox"][data-page="ecp_list"][data-cellid="grid_headcell_checkbox"][data-page="ecp_list"] {
  width: 30px;
}
[data-cellid="grid_cell_checkbox"][data-page="ecp_list"][data-cellid="grid_cell_checkbox"][data-page="ecp_list"][data-cellid="grid_cell_checkbox"][data-page="ecp_list"] {
  width: 35px;
}


