[data-page="ecp_add"][data-itemid="integrated_edit_field10"][data-page="ecp_add"][data-itemid="integrated_edit_field10"][data-page="ecp_add"][data-itemid="integrated_edit_field10"][data-page="ecp_add"][data-itemid="integrated_edit_field10"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="ecp_add"][data-itemid="integrated_edit_field14"][data-page="ecp_add"][data-itemid="integrated_edit_field14"][data-page="ecp_add"][data-itemid="integrated_edit_field14"][data-page="ecp_add"][data-itemid="integrated_edit_field14"] {
  background-color: #73808e;
  color: #dedede;
}


