[data-cellid="grid_footcell_field"][data-page="ecp_print"][data-cellid="grid_footcell_field"][data-page="ecp_print"][data-cellid="grid_footcell_field"][data-page="ecp_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="ecp_print"][data-cellid="grid_footcell_field1"][data-page="ecp_print"][data-cellid="grid_footcell_field1"][data-page="ecp_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="ecp_print"][data-cellid="grid_footcell_field2"][data-page="ecp_print"][data-cellid="grid_footcell_field2"][data-page="ecp_print"] {
  white-space: nowrap;
}


