[data-cellid="grid_cell_field"][data-page="hw_box_list"][data-cellid="grid_cell_field"][data-page="hw_box_list"][data-cellid="grid_cell_field"][data-page="hw_box_list"] {
  width: 150px;
}
[data-cellid="grid_footcell_field"][data-page="hw_box_list"][data-cellid="grid_footcell_field"][data-page="hw_box_list"][data-cellid="grid_footcell_field"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field1"][data-page="hw_box_list"][data-cellid="grid_cell_field1"][data-page="hw_box_list"][data-cellid="grid_cell_field1"][data-page="hw_box_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field1"][data-page="hw_box_list"][data-cellid="grid_footcell_field1"][data-page="hw_box_list"][data-cellid="grid_footcell_field1"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="hw_box_list"][data-cellid="grid_footcell_field2"][data-page="hw_box_list"][data-cellid="grid_footcell_field2"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field3"][data-page="hw_box_list"][data-cellid="grid_cell_field3"][data-page="hw_box_list"][data-cellid="grid_cell_field3"][data-page="hw_box_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field3"][data-page="hw_box_list"][data-cellid="grid_footcell_field3"][data-page="hw_box_list"][data-cellid="grid_footcell_field3"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="hw_box_list"][data-cellid="grid_footcell_field4"][data-page="hw_box_list"][data-cellid="grid_footcell_field4"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="hw_box_list"][data-cellid="grid_footcell_field5"][data-page="hw_box_list"][data-cellid="grid_footcell_field5"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="hw_box_list"][data-cellid="grid_footcell_field6"][data-page="hw_box_list"][data-cellid="grid_footcell_field6"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="hw_box_list"][data-cellid="grid_footcell_field7"][data-page="hw_box_list"][data-cellid="grid_footcell_field7"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="hw_box_list"][data-cellid="grid_footcell_field8"][data-page="hw_box_list"][data-cellid="grid_footcell_field8"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="hw_box_list"][data-cellid="grid_footcell_field9"][data-page="hw_box_list"][data-cellid="grid_footcell_field9"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field10"][data-page="hw_box_list"][data-cellid="grid_cell_field10"][data-page="hw_box_list"][data-cellid="grid_cell_field10"][data-page="hw_box_list"] {
  width: 130px;
}
[data-cellid="grid_footcell_field10"][data-page="hw_box_list"][data-cellid="grid_footcell_field10"][data-page="hw_box_list"][data-cellid="grid_footcell_field10"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field12"][data-page="hw_box_list"][data-cellid="grid_cell_field12"][data-page="hw_box_list"][data-cellid="grid_cell_field12"][data-page="hw_box_list"] {
  width: 110px;
}
[data-cellid="grid_footcell_field12"][data-page="hw_box_list"][data-cellid="grid_footcell_field12"][data-page="hw_box_list"][data-cellid="grid_footcell_field12"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field13"][data-page="hw_box_list"][data-cellid="grid_cell_field13"][data-page="hw_box_list"][data-cellid="grid_cell_field13"][data-page="hw_box_list"] {
  width: 110px;
}
[data-cellid="grid_footcell_field13"][data-page="hw_box_list"][data-cellid="grid_footcell_field13"][data-page="hw_box_list"][data-cellid="grid_footcell_field13"][data-page="hw_box_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="hw_box_list"][data-cellid="grid_headcell_icons"][data-page="hw_box_list"][data-cellid="grid_headcell_icons"][data-page="hw_box_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="hw_box_list"][data-cellid="grid_cell_icons"][data-page="hw_box_list"][data-cellid="grid_cell_icons"][data-page="hw_box_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="hw_box_list"][data-cellid="grid_headcell_checkbox"][data-page="hw_box_list"][data-cellid="grid_headcell_checkbox"][data-page="hw_box_list"] {
  width: 30px;
}
[data-cellid="grid_cell_checkbox"][data-page="hw_box_list"][data-cellid="grid_cell_checkbox"][data-page="hw_box_list"][data-cellid="grid_cell_checkbox"][data-page="hw_box_list"] {
  width: 35px;
}
[data-cellid="grid_cell_details"][data-page="hw_box_list"][data-cellid="grid_cell_details"][data-page="hw_box_list"][data-cellid="grid_cell_details"][data-page="hw_box_list"] {
  width: 35px;
  white-space: nowrap;
}


