[data-cellid="above-grid_c2"][data-page="hw_box_add"][data-cellid="above-grid_c2"][data-page="hw_box_add"][data-cellid="above-grid_c2"][data-page="hw_box_add"] {
  background-color: #485563;
}
[data-cellid="grid_c4"][data-page="hw_box_add"][data-cellid="grid_c4"][data-page="hw_box_add"][data-cellid="grid_c4"][data-page="hw_box_add"] {
  width: 250px;
}
[data-cellid="grid_c2"][data-page="hw_box_add"][data-cellid="grid_c2"][data-page="hw_box_add"][data-cellid="grid_c2"][data-page="hw_box_add"] {
  width: 250px;
}
[data-cellid="grid_c"][data-page="hw_box_add"][data-cellid="grid_c"][data-page="hw_box_add"][data-cellid="grid_c"][data-page="hw_box_add"] {
  width: 200px;
}
[data-cellid="grid_c5"][data-page="hw_box_add"][data-cellid="grid_c5"][data-page="hw_box_add"][data-cellid="grid_c5"][data-page="hw_box_add"] {
  width: 250px;
}
[data-cellid="grid_c3"][data-page="hw_box_add"][data-cellid="grid_c3"][data-page="hw_box_add"][data-cellid="grid_c3"][data-page="hw_box_add"] {
  width: 250px;
}
[data-cellid="grid_c6"][data-page="hw_box_add"][data-cellid="grid_c6"][data-page="hw_box_add"][data-cellid="grid_c6"][data-page="hw_box_add"] {
  width: 200px;
}
[data-cellid="grid_c14"][data-page="hw_box_add"][data-cellid="grid_c14"][data-page="hw_box_add"][data-cellid="grid_c14"][data-page="hw_box_add"] {
  width: 200px;
}
[data-cellid="grid_c15"][data-page="hw_box_add"][data-cellid="grid_c15"][data-page="hw_box_add"][data-cellid="grid_c15"][data-page="hw_box_add"] {
  width: 200px;
}
[data-cellid="grid_c18"][data-page="hw_box_add"][data-cellid="grid_c18"][data-page="hw_box_add"][data-cellid="grid_c18"][data-page="hw_box_add"] {
  width: 200px;
}
[data-cellid="grid_c31"][data-page="hw_box_add"][data-cellid="grid_c31"][data-page="hw_box_add"][data-cellid="grid_c31"][data-page="hw_box_add"] {
  width: 250px;
}
[data-cellid="grid_c32"][data-page="hw_box_add"][data-cellid="grid_c32"][data-page="hw_box_add"][data-cellid="grid_c32"][data-page="hw_box_add"] {
  width: 250px;
}
[data-cellid="grid_c33"][data-page="hw_box_add"][data-cellid="grid_c33"][data-page="hw_box_add"][data-cellid="grid_c33"][data-page="hw_box_add"] {
  width: 200px;
}
[data-cellid="section_c4"][data-page="hw_box_add"][data-cellid="section_c4"][data-page="hw_box_add"][data-cellid="section_c4"][data-page="hw_box_add"] {
  width: 120px;
}
[data-cellid="section_c2"][data-page="hw_box_add"][data-cellid="section_c2"][data-page="hw_box_add"][data-cellid="section_c2"][data-page="hw_box_add"] {
  width: 180px;
}
[data-cellid="section_c"][data-page="hw_box_add"][data-cellid="section_c"][data-page="hw_box_add"][data-cellid="section_c"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="section_c5"][data-page="hw_box_add"][data-cellid="section_c5"][data-page="hw_box_add"][data-cellid="section_c5"][data-page="hw_box_add"] {
  width: 120px;
}
[data-cellid="section_c3"][data-page="hw_box_add"][data-cellid="section_c3"][data-page="hw_box_add"][data-cellid="section_c3"][data-page="hw_box_add"] {
  width: 180px;
}
[data-cellid="section_c6"][data-page="hw_box_add"][data-cellid="section_c6"][data-page="hw_box_add"][data-cellid="section_c6"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="section1_c4"][data-page="hw_box_add"][data-cellid="section1_c4"][data-page="hw_box_add"][data-cellid="section1_c4"][data-page="hw_box_add"] {
  width: 120px;
}
[data-cellid="section1_c2"][data-page="hw_box_add"][data-cellid="section1_c2"][data-page="hw_box_add"][data-cellid="section1_c2"][data-page="hw_box_add"] {
  width: 180px;
}
[data-cellid="section1_c"][data-page="hw_box_add"][data-cellid="section1_c"][data-page="hw_box_add"][data-cellid="section1_c"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="section1_c5"][data-page="hw_box_add"][data-cellid="section1_c5"][data-page="hw_box_add"][data-cellid="section1_c5"][data-page="hw_box_add"] {
  width: 120px;
}
[data-cellid="section1_c3"][data-page="hw_box_add"][data-cellid="section1_c3"][data-page="hw_box_add"][data-cellid="section1_c3"][data-page="hw_box_add"] {
  width: 180px;
}
[data-cellid="section1_c6"][data-page="hw_box_add"][data-cellid="section1_c6"][data-page="hw_box_add"][data-cellid="section1_c6"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="section1_c1"][data-page="hw_box_add"][data-cellid="section1_c1"][data-page="hw_box_add"][data-cellid="section1_c1"][data-page="hw_box_add"] {
  width: 120px;
}
[data-cellid="section1_c13"][data-page="hw_box_add"][data-cellid="section1_c13"][data-page="hw_box_add"][data-cellid="section1_c13"][data-page="hw_box_add"] {
  width: 120px;
}
[data-cellid="section1_c16"][data-page="hw_box_add"][data-cellid="section1_c16"][data-page="hw_box_add"][data-cellid="section1_c16"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="section1_c17"][data-page="hw_box_add"][data-cellid="section1_c17"][data-page="hw_box_add"][data-cellid="section1_c17"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="section1_c20"][data-page="hw_box_add"][data-cellid="section1_c20"][data-page="hw_box_add"][data-cellid="section1_c20"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="section1_c21"][data-page="hw_box_add"][data-cellid="section1_c21"][data-page="hw_box_add"][data-cellid="section1_c21"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="section2_c4"][data-page="hw_box_add"][data-cellid="section2_c4"][data-page="hw_box_add"][data-cellid="section2_c4"][data-page="hw_box_add"] {
  width: 120px;
}
[data-cellid="section2_c2"][data-page="hw_box_add"][data-cellid="section2_c2"][data-page="hw_box_add"][data-cellid="section2_c2"][data-page="hw_box_add"] {
  width: 180px;
}
[data-cellid="section2_c"][data-page="hw_box_add"][data-cellid="section2_c"][data-page="hw_box_add"][data-cellid="section2_c"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="section2_c5"][data-page="hw_box_add"][data-cellid="section2_c5"][data-page="hw_box_add"][data-cellid="section2_c5"][data-page="hw_box_add"] {
  width: 120px;
}
[data-cellid="section2_c3"][data-page="hw_box_add"][data-cellid="section2_c3"][data-page="hw_box_add"][data-cellid="section2_c3"][data-page="hw_box_add"] {
  width: 180px;
}
[data-cellid="section2_c6"][data-page="hw_box_add"][data-cellid="section2_c6"][data-page="hw_box_add"][data-cellid="section2_c6"][data-page="hw_box_add"] {
  width: 150px;
}
[data-cellid="step2_c1"][data-page="hw_box_add"][data-cellid="step2_c1"][data-page="hw_box_add"][data-cellid="step2_c1"][data-page="hw_box_add"] {
  width: 450px;
}
[data-cellid="step2_c2"][data-page="hw_box_add"][data-cellid="step2_c2"][data-page="hw_box_add"][data-cellid="step2_c2"][data-page="hw_box_add"] {
  width: 450px;
}
[data-cellid="step2_c4"][data-page="hw_box_add"][data-cellid="step2_c4"][data-page="hw_box_add"][data-cellid="step2_c4"][data-page="hw_box_add"] {
  width: 450px;
}
[data-cellid="step2_c"][data-page="hw_box_add"][data-cellid="step2_c"][data-page="hw_box_add"][data-cellid="step2_c"][data-page="hw_box_add"] {
  width: 450px;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field2"][data-page="hw_box_add"][data-itemid="integrated_edit_field2"][data-page="hw_box_add"][data-itemid="integrated_edit_field2"][data-page="hw_box_add"][data-itemid="integrated_edit_field2"] {
  width: 150px;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field3"][data-page="hw_box_add"][data-itemid="integrated_edit_field3"][data-page="hw_box_add"][data-itemid="integrated_edit_field3"][data-page="hw_box_add"][data-itemid="integrated_edit_field3"] {
  width: 150px;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field4"][data-page="hw_box_add"][data-itemid="integrated_edit_field4"][data-page="hw_box_add"][data-itemid="integrated_edit_field4"][data-page="hw_box_add"][data-itemid="integrated_edit_field4"] {
  width: 150px;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field5"][data-page="hw_box_add"][data-itemid="integrated_edit_field5"][data-page="hw_box_add"][data-itemid="integrated_edit_field5"][data-page="hw_box_add"][data-itemid="integrated_edit_field5"] {
  width: 150px;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field6"][data-page="hw_box_add"][data-itemid="integrated_edit_field6"][data-page="hw_box_add"][data-itemid="integrated_edit_field6"][data-page="hw_box_add"][data-itemid="integrated_edit_field6"] {
  width: 150px;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field7"][data-page="hw_box_add"][data-itemid="integrated_edit_field7"][data-page="hw_box_add"][data-itemid="integrated_edit_field7"][data-page="hw_box_add"][data-itemid="integrated_edit_field7"] {
  width: 150px;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field8"][data-page="hw_box_add"][data-itemid="integrated_edit_field8"][data-page="hw_box_add"][data-itemid="integrated_edit_field8"][data-page="hw_box_add"][data-itemid="integrated_edit_field8"] {
  width: 150px;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field9"][data-page="hw_box_add"][data-itemid="integrated_edit_field9"][data-page="hw_box_add"][data-itemid="integrated_edit_field9"][data-page="hw_box_add"][data-itemid="integrated_edit_field9"] {
  width: 150px;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field24"][data-page="hw_box_add"][data-itemid="integrated_edit_field24"][data-page="hw_box_add"][data-itemid="integrated_edit_field24"][data-page="hw_box_add"][data-itemid="integrated_edit_field24"] {
  color: #dedede;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field25"][data-page="hw_box_add"][data-itemid="integrated_edit_field25"][data-page="hw_box_add"][data-itemid="integrated_edit_field25"][data-page="hw_box_add"][data-itemid="integrated_edit_field25"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field28"][data-page="hw_box_add"][data-itemid="integrated_edit_field28"][data-page="hw_box_add"][data-itemid="integrated_edit_field28"][data-page="hw_box_add"][data-itemid="integrated_edit_field28"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field30"][data-page="hw_box_add"][data-itemid="integrated_edit_field30"][data-page="hw_box_add"][data-itemid="integrated_edit_field30"][data-page="hw_box_add"][data-itemid="integrated_edit_field30"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field43"][data-page="hw_box_add"][data-itemid="integrated_edit_field43"][data-page="hw_box_add"][data-itemid="integrated_edit_field43"][data-page="hw_box_add"][data-itemid="integrated_edit_field43"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_box_add"][data-itemid="integrated_edit_field44"][data-page="hw_box_add"][data-itemid="integrated_edit_field44"][data-page="hw_box_add"][data-itemid="integrated_edit_field44"][data-page="hw_box_add"][data-itemid="integrated_edit_field44"] {
  background-color: #73808e;
  color: #dedede;
}


