[data-cellid="grid_footcell_field"][data-page="hw_box_print"][data-cellid="grid_footcell_field"][data-page="hw_box_print"][data-cellid="grid_footcell_field"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="hw_box_print"][data-cellid="grid_footcell_field1"][data-page="hw_box_print"][data-cellid="grid_footcell_field1"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="hw_box_print"][data-cellid="grid_footcell_field2"][data-page="hw_box_print"][data-cellid="grid_footcell_field2"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="hw_box_print"][data-cellid="grid_footcell_field3"][data-page="hw_box_print"][data-cellid="grid_footcell_field3"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="hw_box_print"][data-cellid="grid_footcell_field4"][data-page="hw_box_print"][data-cellid="grid_footcell_field4"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="hw_box_print"][data-cellid="grid_footcell_field5"][data-page="hw_box_print"][data-cellid="grid_footcell_field5"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="hw_box_print"][data-cellid="grid_footcell_field6"][data-page="hw_box_print"][data-cellid="grid_footcell_field6"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="hw_box_print"][data-cellid="grid_footcell_field7"][data-page="hw_box_print"][data-cellid="grid_footcell_field7"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="hw_box_print"][data-cellid="grid_footcell_field8"][data-page="hw_box_print"][data-cellid="grid_footcell_field8"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="hw_box_print"][data-cellid="grid_footcell_field9"][data-page="hw_box_print"][data-cellid="grid_footcell_field9"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="hw_box_print"][data-cellid="grid_footcell_field10"][data-page="hw_box_print"][data-cellid="grid_footcell_field10"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="hw_box_print"][data-cellid="grid_footcell_field11"][data-page="hw_box_print"][data-cellid="grid_footcell_field11"][data-page="hw_box_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="hw_box_print"][data-cellid="grid_footcell_field12"][data-page="hw_box_print"][data-cellid="grid_footcell_field12"][data-page="hw_box_print"] {
  white-space: nowrap;
}


