[data-cellid="grid_cell_field"][data-page="hw_ibp_list"][data-cellid="grid_cell_field"][data-page="hw_ibp_list"][data-cellid="grid_cell_field"][data-page="hw_ibp_list"] {
  width: 150px;
}
[data-cellid="grid_footcell_field"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field"][data-page="hw_ibp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field1"][data-page="hw_ibp_list"][data-cellid="grid_cell_field1"][data-page="hw_ibp_list"][data-cellid="grid_cell_field1"][data-page="hw_ibp_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field1"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field1"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field1"][data-page="hw_ibp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field2"][data-page="hw_ibp_list"][data-cellid="grid_cell_field2"][data-page="hw_ibp_list"][data-cellid="grid_cell_field2"][data-page="hw_ibp_list"] {
  width: 370px;
}
[data-cellid="grid_footcell_field2"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field2"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field2"][data-page="hw_ibp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field3"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field3"][data-page="hw_ibp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field4"][data-page="hw_ibp_list"][data-cellid="grid_cell_field4"][data-page="hw_ibp_list"][data-cellid="grid_cell_field4"][data-page="hw_ibp_list"] {
  width: 200px;
}
[data-cellid="grid_footcell_field4"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field4"][data-page="hw_ibp_list"][data-cellid="grid_footcell_field4"][data-page="hw_ibp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="hw_ibp_list"][data-cellid="grid_headcell_icons"][data-page="hw_ibp_list"][data-cellid="grid_headcell_icons"][data-page="hw_ibp_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="hw_ibp_list"][data-cellid="grid_cell_icons"][data-page="hw_ibp_list"][data-cellid="grid_cell_icons"][data-page="hw_ibp_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="hw_ibp_list"][data-cellid="grid_headcell_checkbox"][data-page="hw_ibp_list"][data-cellid="grid_headcell_checkbox"][data-page="hw_ibp_list"] {
  width: 30px;
}
[data-cellid="grid_cell_checkbox"][data-page="hw_ibp_list"][data-cellid="grid_cell_checkbox"][data-page="hw_ibp_list"][data-cellid="grid_cell_checkbox"][data-page="hw_ibp_list"] {
  width: 35px;
}


