[data-cellid="grid_footcell_field"][data-page="hw_monitor1_masterlist"][data-cellid="grid_footcell_field"][data-page="hw_monitor1_masterlist"][data-cellid="grid_footcell_field"][data-page="hw_monitor1_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="hw_monitor1_masterlist"][data-cellid="grid_footcell_field1"][data-page="hw_monitor1_masterlist"][data-cellid="grid_footcell_field1"][data-page="hw_monitor1_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="hw_monitor1_masterlist"][data-cellid="grid_footcell_field2"][data-page="hw_monitor1_masterlist"][data-cellid="grid_footcell_field2"][data-page="hw_monitor1_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="hw_monitor1_masterlist"][data-cellid="grid_headcell_icons"][data-page="hw_monitor1_masterlist"][data-cellid="grid_headcell_icons"][data-page="hw_monitor1_masterlist"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="hw_monitor1_masterlist"][data-cellid="grid_cell_icons"][data-page="hw_monitor1_masterlist"][data-cellid="grid_cell_icons"][data-page="hw_monitor1_masterlist"] {
  white-space: nowrap;
}


