[data-page="hw_monitor1_add"][data-itemid="integrated_edit_field4"][data-page="hw_monitor1_add"][data-itemid="integrated_edit_field4"][data-page="hw_monitor1_add"][data-itemid="integrated_edit_field4"][data-page="hw_monitor1_add"][data-itemid="integrated_edit_field4"] {
  background-color: #73808e;
  color: #dedede;
  font-style: italic;
}
[data-page="hw_monitor1_add"][data-itemid="integrated_edit_field8"][data-page="hw_monitor1_add"][data-itemid="integrated_edit_field8"][data-page="hw_monitor1_add"][data-itemid="integrated_edit_field8"][data-page="hw_monitor1_add"][data-itemid="integrated_edit_field8"] {
  background-color: #73808e;
  color: #dedede;
  font-style: italic;
}


