[data-cellid="grid_footcell_field"][data-page="hw_printer_print"][data-cellid="grid_footcell_field"][data-page="hw_printer_print"][data-cellid="grid_footcell_field"][data-page="hw_printer_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="hw_printer_print"][data-cellid="grid_footcell_field1"][data-page="hw_printer_print"][data-cellid="grid_footcell_field1"][data-page="hw_printer_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="hw_printer_print"][data-cellid="grid_footcell_field2"][data-page="hw_printer_print"][data-cellid="grid_footcell_field2"][data-page="hw_printer_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="hw_printer_print"][data-cellid="grid_footcell_field3"][data-page="hw_printer_print"][data-cellid="grid_footcell_field3"][data-page="hw_printer_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="hw_printer_print"][data-cellid="grid_footcell_field4"][data-page="hw_printer_print"][data-cellid="grid_footcell_field4"][data-page="hw_printer_print"] {
  white-space: nowrap;
}


