[data-cellid="grid_footcell_field"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field"][data-page="hw_printer_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field1"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field1"][data-page="hw_printer_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field2"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field2"][data-page="hw_printer_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field3"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field3"][data-page="hw_printer_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field4"][data-page="hw_printer_masterprint"][data-cellid="grid_footcell_field4"][data-page="hw_printer_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="hw_printer_masterprint"][data-cellid="grid_headcell_icons"][data-page="hw_printer_masterprint"][data-cellid="grid_headcell_icons"][data-page="hw_printer_masterprint"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="hw_printer_masterprint"][data-cellid="grid_cell_icons"][data-page="hw_printer_masterprint"][data-cellid="grid_cell_icons"][data-page="hw_printer_masterprint"] {
  white-space: nowrap;
}


