[data-page="hw_printer_add"][data-itemid="integrated_edit_field6"][data-page="hw_printer_add"][data-itemid="integrated_edit_field6"][data-page="hw_printer_add"][data-itemid="integrated_edit_field6"][data-page="hw_printer_add"][data-itemid="integrated_edit_field6"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_printer_add"][data-itemid="integrated_edit_field8"][data-page="hw_printer_add"][data-itemid="integrated_edit_field8"][data-page="hw_printer_add"][data-itemid="integrated_edit_field8"][data-page="hw_printer_add"][data-itemid="integrated_edit_field8"] {
  background-color: #73808e;
  color: #000000;
}
[data-page="hw_printer_add"][data-itemid="integrated_edit_field10"][data-page="hw_printer_add"][data-itemid="integrated_edit_field10"][data-page="hw_printer_add"][data-itemid="integrated_edit_field10"][data-page="hw_printer_add"][data-itemid="integrated_edit_field10"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_printer_add"][data-itemid="integrated_edit_field12"][data-page="hw_printer_add"][data-itemid="integrated_edit_field12"][data-page="hw_printer_add"][data-itemid="integrated_edit_field12"][data-page="hw_printer_add"][data-itemid="integrated_edit_field12"] {
  background-color: #73808e;
  color: #dedede;
}


