[data-page="hw_tel_add"][data-itemid="integrated_edit_field9"][data-page="hw_tel_add"][data-itemid="integrated_edit_field9"][data-page="hw_tel_add"][data-itemid="integrated_edit_field9"][data-page="hw_tel_add"][data-itemid="integrated_edit_field9"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_tel_add"][data-itemid="integrated_edit_field11"][data-page="hw_tel_add"][data-itemid="integrated_edit_field11"][data-page="hw_tel_add"][data-itemid="integrated_edit_field11"][data-page="hw_tel_add"][data-itemid="integrated_edit_field11"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_tel_add"][data-itemid="integrated_edit_field13"][data-page="hw_tel_add"][data-itemid="integrated_edit_field13"][data-page="hw_tel_add"][data-itemid="integrated_edit_field13"][data-page="hw_tel_add"][data-itemid="integrated_edit_field13"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_tel_add"][data-itemid="integrated_edit_field15"][data-page="hw_tel_add"][data-itemid="integrated_edit_field15"][data-page="hw_tel_add"][data-itemid="integrated_edit_field15"][data-page="hw_tel_add"][data-itemid="integrated_edit_field15"] {
  background-color: #73808e;
  color: #dedede;
}
[data-page="hw_tel_add"][data-itemid="integrated_edit_field17"][data-page="hw_tel_add"][data-itemid="integrated_edit_field17"][data-page="hw_tel_add"][data-itemid="integrated_edit_field17"][data-page="hw_tel_add"][data-itemid="integrated_edit_field17"] {
  background-color: #73808e;
  color: #dedede;
}


