[data-cellid="grid_c1"][data-page="license_all_chart"][data-cellid="grid_c1"][data-page="license_all_chart"][data-cellid="grid_c1"][data-page="license_all_chart"] {
  font-size: 6px;
}
[data-page="license_all_chart"][data-itemid="chart"] {
  width: 100%;
  height: 600px;
}
[data-page="license_all_chart"][data-itemid="master_info"] {
  font-size: 8px;
}


