[data-cellid="grid_footcell_field"][data-page="report_licenses_used_masterrprint"][data-cellid="grid_footcell_field"][data-page="report_licenses_used_masterrprint"][data-cellid="grid_footcell_field"][data-page="report_licenses_used_masterrprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="report_licenses_used_masterrprint"][data-cellid="grid_footcell_field1"][data-page="report_licenses_used_masterrprint"][data-cellid="grid_footcell_field1"][data-page="report_licenses_used_masterrprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="report_licenses_used_masterrprint"][data-cellid="grid_footcell_field2"][data-page="report_licenses_used_masterrprint"][data-cellid="grid_footcell_field2"][data-page="report_licenses_used_masterrprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="report_licenses_used_masterrprint"][data-cellid="grid_footcell_field3"][data-page="report_licenses_used_masterrprint"][data-cellid="grid_footcell_field3"][data-page="report_licenses_used_masterrprint"] {
  white-space: nowrap;
}


