[data-cellid="grid_footcell_field"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field1"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field1"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field2"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field2"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field3"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field3"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field4"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field4"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field5"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field5"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field6"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field6"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field7"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field7"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field8"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field8"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field9"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field9"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field10"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field10"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field11"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field11"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field12"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field12"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field13"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field13"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field14"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field14"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field15"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field15"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field16"][data-page="report_docin_masterreport"][data-cellid="grid_footcell_field16"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="report_docin_masterreport"][data-cellid="grid_headcell_icons"][data-page="report_docin_masterreport"][data-cellid="grid_headcell_icons"][data-page="report_docin_masterreport"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="report_docin_masterreport"][data-cellid="grid_cell_icons"][data-page="report_docin_masterreport"][data-cellid="grid_cell_icons"][data-page="report_docin_masterreport"] {
  white-space: nowrap;
}


