[data-cellid="grid_footcell_field"][data-page="report_licenses_used_masterreport"][data-cellid="grid_footcell_field"][data-page="report_licenses_used_masterreport"][data-cellid="grid_footcell_field"][data-page="report_licenses_used_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="report_licenses_used_masterreport"][data-cellid="grid_footcell_field1"][data-page="report_licenses_used_masterreport"][data-cellid="grid_footcell_field1"][data-page="report_licenses_used_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="report_licenses_used_masterreport"][data-cellid="grid_footcell_field2"][data-page="report_licenses_used_masterreport"][data-cellid="grid_footcell_field2"][data-page="report_licenses_used_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="report_licenses_used_masterreport"][data-cellid="grid_footcell_field3"][data-page="report_licenses_used_masterreport"][data-cellid="grid_footcell_field3"][data-page="report_licenses_used_masterreport"] {
  white-space: nowrap;
}


