[data-page="report_docin_report"][data-itemid="report_grid_field"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field1"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field4"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field5"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field6"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field8"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field9"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field10"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field11"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field13"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field14"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field15"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field17"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_grid_field18"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_group_field"] {
  font-size: 6px;
}
[data-page="report_docin_report"][data-itemid="report_group_field1"] {
  font-size: 6px;
}


