[data-cellid="grid_cell_field"][data-page="sotrudnik_list"][data-cellid="grid_cell_field"][data-page="sotrudnik_list"][data-cellid="grid_cell_field"][data-page="sotrudnik_list"] {
  width: 200px;
}
[data-cellid="grid_footcell_field"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field"][data-page="sotrudnik_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field1"][data-page="sotrudnik_list"][data-cellid="grid_cell_field1"][data-page="sotrudnik_list"][data-cellid="grid_cell_field1"][data-page="sotrudnik_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field1"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field1"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field1"][data-page="sotrudnik_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="sotrudnik_list"][data-cellid="grid_headcell_icons"][data-page="sotrudnik_list"][data-cellid="grid_headcell_icons"][data-page="sotrudnik_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="sotrudnik_list"][data-cellid="grid_cell_icons"][data-page="sotrudnik_list"][data-cellid="grid_cell_icons"][data-page="sotrudnik_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="sotrudnik_list"][data-cellid="grid_headcell_checkbox"][data-page="sotrudnik_list"][data-cellid="grid_headcell_checkbox"][data-page="sotrudnik_list"] {
  width: 30px;
}
[data-cellid="grid_cell_checkbox"][data-page="sotrudnik_list"][data-cellid="grid_cell_checkbox"][data-page="sotrudnik_list"][data-cellid="grid_cell_checkbox"][data-page="sotrudnik_list"] {
  width: 35px;
}
[data-cellid="grid_cell_details"][data-page="sotrudnik_list"][data-cellid="grid_cell_details"][data-page="sotrudnik_list"][data-cellid="grid_cell_details"][data-page="sotrudnik_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field2"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field2"][data-page="sotrudnik_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field3"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field3"][data-page="sotrudnik_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field4"][data-page="sotrudnik_list"][data-cellid="grid_footcell_field4"][data-page="sotrudnik_list"] {
  white-space: nowrap;
}


