[data-cellid="grid_footcell_field"][data-page="spr_po_masterlist"][data-cellid="grid_footcell_field"][data-page="spr_po_masterlist"][data-cellid="grid_footcell_field"][data-page="spr_po_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="spr_po_masterlist"][data-cellid="grid_footcell_field1"][data-page="spr_po_masterlist"][data-cellid="grid_footcell_field1"][data-page="spr_po_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="spr_po_masterlist"][data-cellid="grid_footcell_field2"][data-page="spr_po_masterlist"][data-cellid="grid_footcell_field2"][data-page="spr_po_masterlist"] {
  white-space: nowrap;
}


