[data-cellid="grid_footcell_field"][data-page="spr_partners_masterprint"][data-cellid="grid_footcell_field"][data-page="spr_partners_masterprint"][data-cellid="grid_footcell_field"][data-page="spr_partners_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="spr_partners_masterprint"][data-cellid="grid_footcell_field1"][data-page="spr_partners_masterprint"][data-cellid="grid_footcell_field1"][data-page="spr_partners_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="spr_partners_masterprint"][data-cellid="grid_footcell_field2"][data-page="spr_partners_masterprint"][data-cellid="grid_footcell_field2"][data-page="spr_partners_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="spr_partners_masterprint"][data-cellid="grid_footcell_field3"][data-page="spr_partners_masterprint"][data-cellid="grid_footcell_field3"][data-page="spr_partners_masterprint"] {
  white-space: nowrap;
}


