[data-cellid="grid_footcell_field"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field"][data-page="spr_license_dogovor1_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor1_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field2"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field2"][data-page="spr_license_dogovor1_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field3"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field3"][data-page="spr_license_dogovor1_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field4"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field4"][data-page="spr_license_dogovor1_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field5"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field5"][data-page="spr_license_dogovor1_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field6"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field6"][data-page="spr_license_dogovor1_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field7"][data-page="spr_license_dogovor1_masterprint"][data-cellid="grid_footcell_field7"][data-page="spr_license_dogovor1_masterprint"] {
  white-space: nowrap;
}


