[data-cellid="grid_footcell_field"][data-page="spr_docint_type_list"][data-cellid="grid_footcell_field"][data-page="spr_docint_type_list"][data-cellid="grid_footcell_field"][data-page="spr_docint_type_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="spr_docint_type_list"][data-cellid="grid_headcell_icons"][data-page="spr_docint_type_list"][data-cellid="grid_headcell_icons"][data-page="spr_docint_type_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="spr_docint_type_list"][data-cellid="grid_cell_icons"][data-page="spr_docint_type_list"][data-cellid="grid_cell_icons"][data-page="spr_docint_type_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="spr_docint_type_list"][data-cellid="grid_headcell_checkbox"][data-page="spr_docint_type_list"][data-cellid="grid_headcell_checkbox"][data-page="spr_docint_type_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="spr_docint_type_list"][data-cellid="grid_cell_details"][data-page="spr_docint_type_list"][data-cellid="grid_cell_details"][data-page="spr_docint_type_list"] {
  white-space: nowrap;
}


