[data-cellid="grid_footcell_field"][data-page="spr_partners_print"][data-cellid="grid_footcell_field"][data-page="spr_partners_print"][data-cellid="grid_footcell_field"][data-page="spr_partners_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="spr_partners_print"][data-cellid="grid_footcell_field1"][data-page="spr_partners_print"][data-cellid="grid_footcell_field1"][data-page="spr_partners_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="spr_partners_print"][data-cellid="grid_footcell_field2"][data-page="spr_partners_print"][data-cellid="grid_footcell_field2"][data-page="spr_partners_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="spr_partners_print"][data-cellid="grid_footcell_field3"][data-page="spr_partners_print"][data-cellid="grid_footcell_field3"][data-page="spr_partners_print"] {
  white-space: nowrap;
}


