[data-cellid="grid_cell_field1"][data-page="spr_license_list"][data-cellid="grid_cell_field1"][data-page="spr_license_list"][data-cellid="grid_cell_field1"][data-page="spr_license_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field1"][data-page="spr_license_list"][data-cellid="grid_footcell_field1"][data-page="spr_license_list"][data-cellid="grid_footcell_field1"][data-page="spr_license_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field2"][data-page="spr_license_list"][data-cellid="grid_cell_field2"][data-page="spr_license_list"][data-cellid="grid_cell_field2"][data-page="spr_license_list"] {
  width: 50px;
}
[data-cellid="grid_footcell_field2"][data-page="spr_license_list"][data-cellid="grid_footcell_field2"][data-page="spr_license_list"][data-cellid="grid_footcell_field2"][data-page="spr_license_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field7"][data-page="spr_license_list"][data-cellid="grid_cell_field7"][data-page="spr_license_list"][data-cellid="grid_cell_field7"][data-page="spr_license_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field7"][data-page="spr_license_list"][data-cellid="grid_footcell_field7"][data-page="spr_license_list"][data-cellid="grid_footcell_field7"][data-page="spr_license_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field8"][data-page="spr_license_list"][data-cellid="grid_cell_field8"][data-page="spr_license_list"][data-cellid="grid_cell_field8"][data-page="spr_license_list"] {
  width: 220px;
}
[data-cellid="grid_footcell_field8"][data-page="spr_license_list"][data-cellid="grid_footcell_field8"][data-page="spr_license_list"][data-cellid="grid_footcell_field8"][data-page="spr_license_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field9"][data-page="spr_license_list"][data-cellid="grid_cell_field9"][data-page="spr_license_list"][data-cellid="grid_cell_field9"][data-page="spr_license_list"] {
  width: 50px;
}
[data-cellid="grid_footcell_field9"][data-page="spr_license_list"][data-cellid="grid_footcell_field9"][data-page="spr_license_list"][data-cellid="grid_footcell_field9"][data-page="spr_license_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="spr_license_list"][data-cellid="grid_headcell_icons"][data-page="spr_license_list"][data-cellid="grid_headcell_icons"][data-page="spr_license_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="spr_license_list"][data-cellid="grid_cell_icons"][data-page="spr_license_list"][data-cellid="grid_cell_icons"][data-page="spr_license_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="spr_license_list"][data-cellid="grid_headcell_checkbox"][data-page="spr_license_list"][data-cellid="grid_headcell_checkbox"][data-page="spr_license_list"] {
  width: 30px;
}
[data-cellid="grid_cell_checkbox"][data-page="spr_license_list"][data-cellid="grid_cell_checkbox"][data-page="spr_license_list"][data-cellid="grid_cell_checkbox"][data-page="spr_license_list"] {
  width: 35px;
}
[data-cellid="grid_cell_details"][data-page="spr_license_list"][data-cellid="grid_cell_details"][data-page="spr_license_list"][data-cellid="grid_cell_details"][data-page="spr_license_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="spr_license_list"][data-cellid="grid_footcell_field"][data-page="spr_license_list"][data-cellid="grid_footcell_field"][data-page="spr_license_list"] {
  white-space: nowrap;
}


