[data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor111111_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_footcell_field6"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_footcell_field6"][data-page="spr_license_dogovor111111_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_headcell_icons"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_headcell_icons"][data-page="spr_license_dogovor111111_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_cell_icons"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_cell_icons"][data-page="spr_license_dogovor111111_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_cell_details"][data-page="spr_license_dogovor111111_list"][data-cellid="grid_cell_details"][data-page="spr_license_dogovor111111_list"] {
  white-space: nowrap;
}


