[data-cellid="grid_footcell_field"][data-page="spr_license_dogovor111_masterlist"][data-cellid="grid_footcell_field"][data-page="spr_license_dogovor111_masterlist"][data-cellid="grid_footcell_field"][data-page="spr_license_dogovor111_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor111_masterlist"][data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor111_masterlist"][data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor111_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="spr_license_dogovor111_masterlist"][data-cellid="grid_footcell_field2"][data-page="spr_license_dogovor111_masterlist"][data-cellid="grid_footcell_field2"][data-page="spr_license_dogovor111_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="spr_license_dogovor111_masterlist"][data-cellid="grid_footcell_field3"][data-page="spr_license_dogovor111_masterlist"][data-cellid="grid_footcell_field3"][data-page="spr_license_dogovor111_masterlist"] {
  white-space: nowrap;
}


