[data-cellid="grid_cell_field"][data-page="spr_ecp_list"][data-cellid="grid_cell_field"][data-page="spr_ecp_list"][data-cellid="grid_cell_field"][data-page="spr_ecp_list"] {
  width: 200px;
}
[data-cellid="grid_footcell_field"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field"][data-page="spr_ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field1"][data-page="spr_ecp_list"][data-cellid="grid_cell_field1"][data-page="spr_ecp_list"][data-cellid="grid_cell_field1"][data-page="spr_ecp_list"] {
  width: 200px;
}
[data-cellid="grid_footcell_field1"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field1"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field1"][data-page="spr_ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field2"][data-page="spr_ecp_list"][data-cellid="grid_cell_field2"][data-page="spr_ecp_list"][data-cellid="grid_cell_field2"][data-page="spr_ecp_list"] {
  width: 150px;
}
[data-cellid="grid_footcell_field2"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field2"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field2"][data-page="spr_ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field3"][data-page="spr_ecp_list"][data-cellid="grid_headcell_field3"][data-page="spr_ecp_list"][data-cellid="grid_headcell_field3"][data-page="spr_ecp_list"] {
  width: 100px;
}
[data-cellid="grid_cell_field3"][data-page="spr_ecp_list"][data-cellid="grid_cell_field3"][data-page="spr_ecp_list"][data-cellid="grid_cell_field3"][data-page="spr_ecp_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field3"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field3"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field3"][data-page="spr_ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field4"][data-page="spr_ecp_list"][data-cellid="grid_headcell_field4"][data-page="spr_ecp_list"][data-cellid="grid_headcell_field4"][data-page="spr_ecp_list"] {
  width: 100px;
}
[data-cellid="grid_cell_field4"][data-page="spr_ecp_list"][data-cellid="grid_cell_field4"][data-page="spr_ecp_list"][data-cellid="grid_cell_field4"][data-page="spr_ecp_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field4"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field4"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field4"][data-page="spr_ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="spr_ecp_list"][data-cellid="grid_headcell_icons"][data-page="spr_ecp_list"][data-cellid="grid_headcell_icons"][data-page="spr_ecp_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="spr_ecp_list"][data-cellid="grid_cell_icons"][data-page="spr_ecp_list"][data-cellid="grid_cell_icons"][data-page="spr_ecp_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="spr_ecp_list"][data-cellid="grid_headcell_checkbox"][data-page="spr_ecp_list"][data-cellid="grid_headcell_checkbox"][data-page="spr_ecp_list"] {
  width: 30px;
}
[data-cellid="grid_cell_checkbox"][data-page="spr_ecp_list"][data-cellid="grid_cell_checkbox"][data-page="spr_ecp_list"][data-cellid="grid_cell_checkbox"][data-page="spr_ecp_list"] {
  width: 35px;
}
[data-cellid="grid_cell_details"][data-page="spr_ecp_list"][data-cellid="grid_cell_details"][data-page="spr_ecp_list"][data-cellid="grid_cell_details"][data-page="spr_ecp_list"] {
  width: 35px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field5"][data-page="spr_ecp_list"][data-cellid="grid_headcell_field5"][data-page="spr_ecp_list"][data-cellid="grid_headcell_field5"][data-page="spr_ecp_list"] {
  width: 100px;
}
[data-cellid="grid_cell_field5"][data-page="spr_ecp_list"][data-cellid="grid_cell_field5"][data-page="spr_ecp_list"][data-cellid="grid_cell_field5"][data-page="spr_ecp_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field5"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field5"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field5"][data-page="spr_ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field6"][data-page="spr_ecp_list"][data-cellid="grid_headcell_field6"][data-page="spr_ecp_list"][data-cellid="grid_headcell_field6"][data-page="spr_ecp_list"] {
  width: 250px;
}
[data-cellid="grid_cell_field6"][data-page="spr_ecp_list"][data-cellid="grid_cell_field6"][data-page="spr_ecp_list"][data-cellid="grid_cell_field6"][data-page="spr_ecp_list"] {
  width: 250px;
}
[data-cellid="grid_footcell_field6"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field6"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field6"][data-page="spr_ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field7"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field7"][data-page="spr_ecp_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field8"][data-page="spr_ecp_list"][data-cellid="grid_footcell_field8"][data-page="spr_ecp_list"] {
  white-space: nowrap;
}


