[data-cellid="grid_footcell_field"][data-page="spr_license_dogovor1111111_print"][data-cellid="grid_footcell_field"][data-page="spr_license_dogovor1111111_print"][data-cellid="grid_footcell_field"][data-page="spr_license_dogovor1111111_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor1111111_print"][data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor1111111_print"][data-cellid="grid_footcell_field1"][data-page="spr_license_dogovor1111111_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="spr_license_dogovor1111111_print"][data-cellid="grid_footcell_field2"][data-page="spr_license_dogovor1111111_print"][data-cellid="grid_footcell_field2"][data-page="spr_license_dogovor1111111_print"] {
  white-space: nowrap;
}


