body.function-login {  
height:100%;  
background:transparent url("../../images/background.jpg") no-repeat center center fixed;  
background-size:cover;  
}  
  
body.function-login .r-panel-page {  
position: absolute;  
top: 40%;  
left: 50%;  
-moz-transform: translateX(-50%) translateY(-50%);  
-webkit-transform: translateX(-50%) translateY(-50%);  
transform: translateX(-50%) translateY(-50%);  
}