/* details preview */

.rnr-bs-dpreviewrow.rnr-bs-dpreviewrow .dpinline, .bs-details-opened.bs-details-opened.bs-details-opened {
	background: gray;
}

.dpinline.dpinline.dpinline > div {
    background: #4e5d6c;
    border-color: gray;
}
.rnr-dbelemtable {
	background: #2b3e50;
}



/* icon underlines */

.glyphicon.glyphicon:not(:hover) {
	text-decoration: none;
}

/* flexible grid */
@media (max-width: 767px) {
	
	.bs-flexgrid.bs-flexgrid  > * > .bs-gridrow.bs-gridrow {
		border: none;
		border-radius: 4px;
		
	}

	.bs-flexgrid.bs-flexgrid   .bs-gridrow:not(.rnr-hiddenelem) {
		background-image: linear-gradient( to bottom, #485563 42px , transparent 43px );	
	}
	
	.bs-flexgrid.bs-flexgrid.bs-flexgrid.bs-flexgrid  > * > * > .bs-gridicons a,
	.bs-flexgrid.bs-flexgrid.bs-flexgrid.bs-flexgrid  > * > * > .bs-griddetails a
	{
		color: #df691a;
	}
	.bs-flexgrid, .bs-flexgrid > tbody, 
	.bs-flexgrid > tfoot, .bs-flexgrid .bs-gridrow:not(.rnr-hiddenelem), 
	.bs-flexgrid .bs-gridcell {
		background-color: #4e5d6c;
	}

}


.bs-welcome-content {
	color: #444;
}

.bs-welcome-item {
	border-radius: 0;
}

.navbar-form > .breadcrumb {
	font-size: 15px;
}

.sidebar {
	background-color: #535c65;
    border-right: 1px solid hsla(0,0%,33%,1);
}

.rnr-dbselectedrow {
	background-color: #fafae5;
	color: #444;
}

.dropdown-menu {
    border: solid hsla(197,10%,44%,1) 1px;
}

.panel-info > .panel-heading .btn.btn-info:not(:hover) {
	background-color: hsla(194,66%,45%,1);
}



/* vertical menu */

.sidebar-menu.sidebar-menu a {
	color: #ebebeb;
}

.menu-treelike.menu-treelike li > a[aria-expanded="true"] {
    background-color: rgba(0,0,0,0.1);
}

.menu-treelike.menu-treelike ul[data-menulevel]:not([data-menulevel="1"]) > li > a {
	background-color: rgba(0,0,0,0.15);;
}


.navbar .input-group-btn > .btn {
	height: 39px;
}

.btn.disabled, .btn[disabled] {
	color: #aaa;
}
table > * > * > td.rightscell.rightscell.rightscell.rightscell.rightscell.rightscell.rightscell.rightscell, .bs-admin-header:first-child > th {
   background-color: #4e5d6c !important;
}