<ul class="rnr-b-vmenu simple {$menustyle}" originalMenuTag="$$originalMenuTag">
<li class=" current menuLeaf">
	<div>
		<div>
			<a {$item1_menulink_attrs}>
									Права доступа
			</a>
		</div>
	</div>
</li>
<li class=" menuLeaf">
	<div>
		<div>
			<a {$item2_menulink_attrs}>
									Назначить группы для пользователей
			</a>
		</div>
	</div>
</li>
<li class=" menuLeaf">
	<div>
		<div>
			<a {$item3_menulink_attrs}>
									Добавить / Изменить пользователей
			</a>
		</div>
	</div>
</li>
</ul>
