<ul class="nav menu-treelike" data-menulevel="1">
	{$active_submenu}
	
	
	{BEGIN item1_menulink}
	<li class="{$item1_current}">
		
<a {$item1_menulink_attrs} title="{$item1_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item1_icon} {$item1_title}</span>
		<span class="r-menu-collapsed">{$item1_collicon}{$item1_firstcap}</span>
</a>

		
		
				<ul class="nav collapse {$submenu1_class}" id="submenu1" data-menulevel=2>
			{BEGIN item2_menulink}
			<li class="{$item2_current}">
				
<a {$item2_menulink_attrs} title="{$item2_tooltip}" >
	<span class="
		"> {$item2_icon} {$item2_title}</span>
	</a>

				
								<ul class="nav collapse {$submenu2_class}" id="submenu2" data-menulevel=3>
					{BEGIN item3_menulink}
					<li class="{$item3_current}">
						
<a {$item3_menulink_attrs} title="{$item3_tooltip}" >
	<span class="
		"> {$item3_icon} {$item3_title}</span>
	</a>

					</li>
					{END item3_menulink}
								
									{BEGIN item4_menulink}
					<li class="{$item4_current}">
						
<a {$item4_menulink_attrs} title="{$item4_tooltip}" >
	<span class="
		"> {$item4_icon} {$item4_title}</span>
	</a>

					</li>
					{END item4_menulink}
								
									{BEGIN item5_menulink}
					<li class="{$item5_current}">
						
<a {$item5_menulink_attrs} title="{$item5_tooltip}" >
	<span class="
		"> {$item5_icon} {$item5_title}</span>
	</a>

					</li>
					{END item5_menulink}
								</ul>
			</li>
			{END item2_menulink}
				
		
					{BEGIN item6_menulink}
			<li class="{$item6_current}">
				
<a {$item6_menulink_attrs} title="{$item6_tooltip}" >
	<span class="
		"> {$item6_icon} {$item6_title}</span>
	</a>

			</li>
			{END item6_menulink}
				
		
					{BEGIN item7_menulink}
			<li class="{$item7_current}">
				
<a {$item7_menulink_attrs} title="{$item7_tooltip}" >
	<span class="
		"> {$item7_icon} {$item7_title}</span>
	</a>

			</li>
			{END item7_menulink}
				
		
					{BEGIN item8_menulink}
			<li class="{$item8_current}">
				
<a {$item8_menulink_attrs} title="{$item8_tooltip}" >
	<span class="
		"> {$item8_icon} {$item8_title}</span>
	</a>

			</li>
			{END item8_menulink}
				
		
					{BEGIN item9_menulink}
			<li class="{$item9_current}">
				
<a {$item9_menulink_attrs} title="{$item9_tooltip}" >
	<span class="
		"> {$item9_icon} {$item9_title}</span>
	</a>

			</li>
			{END item9_menulink}
				
		
					{BEGIN item10_menulink}
			<li class="{$item10_current}">
				
<a {$item10_menulink_attrs} title="{$item10_tooltip}" >
	<span class="
		"> {$item10_icon} {$item10_title}</span>
	</a>

			</li>
			{END item10_menulink}
				</ul>
	</li>
	{END item1_menulink}
	
	
	{BEGIN item11_menulink}
	<li class="{$item11_current}">
		
<a {$item11_menulink_attrs} title="{$item11_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item11_icon} {$item11_title}</span>
		<span class="r-menu-collapsed">{$item11_collicon}{$item11_firstcap}</span>
</a>

		
		
				<ul class="nav collapse {$submenu11_class}" id="submenu11" data-menulevel=2>
			{BEGIN item12_menulink}
			<li class="{$item12_current}">
				
<a {$item12_menulink_attrs} title="{$item12_tooltip}" >
	<span class="
		"> {$item12_icon} {$item12_title}</span>
	</a>

			</li>
			{END item12_menulink}
				
		
					{BEGIN item13_menulink}
			<li class="{$item13_current}">
				
<a {$item13_menulink_attrs} title="{$item13_tooltip}" >
	<span class="
		"> {$item13_icon} {$item13_title}</span>
	</a>

			</li>
			{END item13_menulink}
				
		
					{BEGIN item14_menulink}
			<li class="{$item14_current}">
				
<a {$item14_menulink_attrs} title="{$item14_tooltip}" >
	<span class="
		"> {$item14_icon} {$item14_title}</span>
	</a>

			</li>
			{END item14_menulink}
				
		
					{BEGIN item15_menulink}
			<li class="{$item15_current}">
				
<a {$item15_menulink_attrs} title="{$item15_tooltip}" >
	<span class="
		"> {$item15_icon} {$item15_title}</span>
	</a>

			</li>
			{END item15_menulink}
				
		
					{BEGIN item16_menulink}
			<li class="{$item16_current}">
				
<a {$item16_menulink_attrs} title="{$item16_tooltip}" >
	<span class="
		"> {$item16_icon} {$item16_title}</span>
	</a>

			</li>
			{END item16_menulink}
				
		
					{BEGIN item17_menulink}
			<li class="{$item17_current}">
				
<a {$item17_menulink_attrs} title="{$item17_tooltip}" >
	<span class="
		"> {$item17_icon} {$item17_title}</span>
	</a>

			</li>
			{END item17_menulink}
				
		
					{BEGIN item18_menulink}
			<li class="{$item18_current}">
				
<a {$item18_menulink_attrs} title="{$item18_tooltip}" >
	<span class="
		"> {$item18_icon} {$item18_title}</span>
	</a>

				
								<ul class="nav collapse {$submenu18_class}" id="submenu18" data-menulevel=3>
					{BEGIN item19_menulink}
					<li class="{$item19_current}">
						
<a {$item19_menulink_attrs} title="{$item19_tooltip}" >
	<span class="
		"> {$item19_icon} {$item19_title}</span>
	</a>

					</li>
					{END item19_menulink}
								
									{BEGIN item20_menulink}
					<li class="{$item20_current}">
						
<a {$item20_menulink_attrs} title="{$item20_tooltip}" >
	<span class="
		"> {$item20_icon} {$item20_title}</span>
	</a>

					</li>
					{END item20_menulink}
								</ul>
			</li>
			{END item18_menulink}
				</ul>
	</li>
	{END item11_menulink}
	
	
	{BEGIN item21_menulink}
	<li class="{$item21_current}">
		
<a {$item21_menulink_attrs} title="{$item21_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item21_icon} {$item21_title}</span>
		<span class="r-menu-collapsed">{$item21_collicon}{$item21_firstcap}</span>
</a>

	</li>
	{END item21_menulink}
	
	
	{BEGIN item22_menulink}
	<li class="{$item22_current}">
		
<a {$item22_menulink_attrs} title="{$item22_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item22_icon} {$item22_title}</span>
		<span class="r-menu-collapsed">{$item22_collicon}{$item22_firstcap}</span>
</a>

	</li>
	{END item22_menulink}
	
	
	{BEGIN item23_menulink}
	<li class="{$item23_current}">
		
<a {$item23_menulink_attrs} title="{$item23_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item23_icon} {$item23_title}</span>
		<span class="r-menu-collapsed">{$item23_collicon}{$item23_firstcap}</span>
</a>

	</li>
	{END item23_menulink}
	
	
	{BEGIN item24_menulink}
	<li class="{$item24_current}">
		
<a {$item24_menulink_attrs} title="{$item24_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item24_icon} {$item24_title}</span>
		<span class="r-menu-collapsed">{$item24_collicon}{$item24_firstcap}</span>
</a>

		
		
				<ul class="nav collapse {$submenu24_class}" id="submenu24" data-menulevel=2>
			{BEGIN item25_menulink}
			<li class="{$item25_current}">
				
<a {$item25_menulink_attrs} title="{$item25_tooltip}" >
	<span class="
		"> {$item25_icon} {$item25_title}</span>
	</a>

			</li>
			{END item25_menulink}
				
		
					{BEGIN item26_menulink}
			<li class="{$item26_current}">
				
<a {$item26_menulink_attrs} title="{$item26_tooltip}" >
	<span class="
		"> {$item26_icon} {$item26_title}</span>
	</a>

			</li>
			{END item26_menulink}
				
		
					{BEGIN item27_menulink}
			<li class="{$item27_current}">
				
<a {$item27_menulink_attrs} title="{$item27_tooltip}" >
	<span class="
		"> {$item27_icon} {$item27_title}</span>
	</a>

			</li>
			{END item27_menulink}
				</ul>
	</li>
	{END item24_menulink}
	
	
	{BEGIN item28_menulink}
	<li class="{$item28_current}">
		
<a {$item28_menulink_attrs} title="{$item28_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item28_icon} {$item28_title}</span>
		<span class="r-menu-collapsed">{$item28_collicon}{$item28_firstcap}</span>
</a>

	</li>
	{END item28_menulink}
	
	
	{BEGIN item29_menulink}
	<li class="{$item29_current}">
		
<a {$item29_menulink_attrs} title="{$item29_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item29_icon} {$item29_title}</span>
		<span class="r-menu-collapsed">{$item29_collicon}{$item29_firstcap}</span>
</a>

	</li>
	{END item29_menulink}
	
	
	{BEGIN item30_menulink}
	<li class="{$item30_current}">
		
<a {$item30_menulink_attrs} title="{$item30_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item30_icon} {$item30_title}</span>
		<span class="r-menu-collapsed">{$item30_collicon}{$item30_firstcap}</span>
</a>

	</li>
	{END item30_menulink}
	
	
	{BEGIN item31_menulink}
	<li class="{$item31_current}">
		
<a {$item31_menulink_attrs} title="{$item31_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item31_icon} {$item31_title}</span>
		<span class="r-menu-collapsed">{$item31_collicon}{$item31_firstcap}</span>
</a>

	</li>
	{END item31_menulink}
	
	
	{BEGIN item32_menulink}
	<li class="{$item32_current}">
		
<a {$item32_menulink_attrs} title="{$item32_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item32_icon} {$item32_title}</span>
		<span class="r-menu-collapsed">{$item32_collicon}{$item32_firstcap}</span>
</a>

	</li>
	{END item32_menulink}
	
	
	{BEGIN item33_menulink}
	<li class="{$item33_current}">
		
<a {$item33_menulink_attrs} title="{$item33_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item33_icon} {$item33_title}</span>
		<span class="r-menu-collapsed">{$item33_collicon}{$item33_firstcap}</span>
</a>

		
		
				<ul class="nav collapse {$submenu33_class}" id="submenu33" data-menulevel=2>
			{BEGIN item34_menulink}
			<li class="{$item34_current}">
				
<a {$item34_menulink_attrs} title="{$item34_tooltip}" >
	<span class="
		"> {$item34_icon} {$item34_title}</span>
	</a>

				
								<ul class="nav collapse {$submenu34_class}" id="submenu34" data-menulevel=3>
					{BEGIN item35_menulink}
					<li class="{$item35_current}">
						
<a {$item35_menulink_attrs} title="{$item35_tooltip}" >
	<span class="
		"> {$item35_icon} {$item35_title}</span>
	</a>

					</li>
					{END item35_menulink}
								
									{BEGIN item36_menulink}
					<li class="{$item36_current}">
						
<a {$item36_menulink_attrs} title="{$item36_tooltip}" >
	<span class="
		"> {$item36_icon} {$item36_title}</span>
	</a>

					</li>
					{END item36_menulink}
								
									{BEGIN item37_menulink}
					<li class="{$item37_current}">
						
<a {$item37_menulink_attrs} title="{$item37_tooltip}" >
	<span class="
		"> {$item37_icon} {$item37_title}</span>
	</a>

					</li>
					{END item37_menulink}
								
									{BEGIN item38_menulink}
					<li class="{$item38_current}">
						
<a {$item38_menulink_attrs} title="{$item38_tooltip}" >
	<span class="
		"> {$item38_icon} {$item38_title}</span>
	</a>

					</li>
					{END item38_menulink}
								
									{BEGIN item39_menulink}
					<li class="{$item39_current}">
						
<a {$item39_menulink_attrs} title="{$item39_tooltip}" >
	<span class="
		"> {$item39_icon} {$item39_title}</span>
	</a>

					</li>
					{END item39_menulink}
								</ul>
			</li>
			{END item34_menulink}
				</ul>
	</li>
	{END item33_menulink}
</ul>