
{BEGIN item1_menulink}
<div id="item1" class="rnr-b-hmenu {$menustyle} Group {$item1_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/sprav32_style2.png" border=0>
<a {$item1_menulink_attrs}>{$item1_title}</a></div>



		<ul>
		
		{BEGIN item2_menulink}
		<li parent="group1" class="Group {$item2_current} menuGroup">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/spr_po32_style2(1).png" border=0>
<a {$item2_menulink_attrs}>{$item2_title}</a>
</div>
</div>



						<ul>
				
				{BEGIN item3_menulink}
				<li parent="group2" class="Leaf {$item3_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/po32_style2(2).png" border=0>
<a {$item3_menulink_attrs}>{$item3_title}</a>
</div>
</div>



				</li>
				{END item3_menulink}
											
				{BEGIN item4_menulink}
				<li parent="group2" class="Leaf {$item4_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/dogovor32_style2.png" border=0>
<a {$item4_menulink_attrs}>{$item4_title}</a>
</div>
</div>



				</li>
				{END item4_menulink}
											
				{BEGIN item5_menulink}
				<li parent="group2" class="Leaf {$item5_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/lic32_style2.png" border=0>
<a {$item5_menulink_attrs}>{$item5_title}</a>
</div>
</div>



				</li>
				{END item5_menulink}
							</ul>
		</li>
		{END item2_menulink}
				
		{BEGIN item6_menulink}
		<li parent="group1" class="Leaf {$item6_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/dept32_style2.png" border=0>
<a {$item6_menulink_attrs}>{$item6_title}</a>
</div>
</div>



		</li>
		{END item6_menulink}
				
		{BEGIN item7_menulink}
		<li parent="group1" class="Leaf {$item7_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/location32_style3.png" border=0>
<a {$item7_menulink_attrs}>{$item7_title}</a>
</div>
</div>



		</li>
		{END item7_menulink}
				
		{BEGIN item8_menulink}
		<li parent="group1" class="Leaf {$item8_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/socket32_style2.png" border=0>
<a {$item8_menulink_attrs}>{$item8_title}</a>
</div>
</div>



		</li>
		{END item8_menulink}
				
		{BEGIN item9_menulink}
		<li parent="group1" class="Leaf {$item9_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/sert32_style2.png" border=0>
<a {$item9_menulink_attrs}>{$item9_title}</a>
</div>
</div>



		</li>
		{END item9_menulink}
				
		{BEGIN item10_menulink}
		<li parent="group1" class="Leaf {$item10_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/sotrudnik32_style2.png" border=0>
<a {$item10_menulink_attrs}>{$item10_title}</a>
</div>
</div>



		</li>
		{END item10_menulink}
		</ul>
</div>
{END item1_menulink}

{BEGIN item11_menulink}
<div id="item11" class="rnr-b-hmenu {$menustyle} Group {$item11_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/archive32_style2.png" border=0>
<a {$item11_menulink_attrs}>{$item11_title}</a></div>



		<ul>
		
		{BEGIN item12_menulink}
		<li parent="group11" class="Leaf {$item12_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/docin32_style32.png" border=0>
<a {$item12_menulink_attrs}>{$item12_title}</a>
</div>
</div>



		</li>
		{END item12_menulink}
				
		{BEGIN item13_menulink}
		<li parent="group11" class="Leaf {$item13_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/docout32_style2.png" border=0>
<a {$item13_menulink_attrs}>{$item13_title}</a>
</div>
</div>



		</li>
		{END item13_menulink}
				
		{BEGIN item14_menulink}
		<li parent="group11" class="Leaf {$item14_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/docint32_style2.png" border=0>
<a {$item14_menulink_attrs}>{$item14_title}</a>
</div>
</div>



		</li>
		{END item14_menulink}
				
		{BEGIN item15_menulink}
		<li parent="group11" class="Leaf {$item15_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/doctype32_style2.png" border=0>
<a {$item15_menulink_attrs}>{$item15_title}</a>
</div>
</div>



		</li>
		{END item15_menulink}
				
		{BEGIN item16_menulink}
		<li parent="group11" class="Leaf {$item16_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/doctype32_style2.png" border=0>
<a {$item16_menulink_attrs}>{$item16_title}</a>
</div>
</div>



		</li>
		{END item16_menulink}
				
		{BEGIN item17_menulink}
		<li parent="group11" class="Leaf {$item17_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/spr_partners32_style2.png" border=0>
<a {$item17_menulink_attrs}>{$item17_title}</a>
</div>
</div>



		</li>
		{END item17_menulink}
				
		{BEGIN item18_menulink}
		<li parent="group11" class="Group {$item18_current} menuGroup">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/report32_style3.png" border=0>
<a {$item18_menulink_attrs}>{$item18_title}</a>
</div>
</div>



						<ul>
				
				{BEGIN item19_menulink}
				<li parent="group18" class="Leaf {$item19_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/reports_control32_style2.png" border=0>
<a {$item19_menulink_attrs}>{$item19_title}</a>
</div>
</div>



				</li>
				{END item19_menulink}
											
				{BEGIN item20_menulink}
				<li parent="group18" class="Leaf {$item20_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/reports_control32_style2.png" border=0>
<a {$item20_menulink_attrs}>{$item20_title}</a>
</div>
</div>



				</li>
				{END item20_menulink}
							</ul>
		</li>
		{END item18_menulink}
		</ul>
</div>
{END item11_menulink}

{BEGIN item21_menulink}
<div id="item21" class="rnr-b-hmenu {$menustyle} Leaf {$item21_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/arm32_style3.png" border=0>
<a {$item21_menulink_attrs}>{$item21_title}</a></div>



</div>
{END item21_menulink}

{BEGIN item22_menulink}
<div id="item22" class="rnr-b-hmenu {$menustyle} Leaf {$item22_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/box32_style2.png" border=0>
<a {$item22_menulink_attrs}>{$item22_title}</a></div>



</div>
{END item22_menulink}

{BEGIN item23_menulink}
<div id="item23" class="rnr-b-hmenu {$menustyle} Leaf {$item23_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/monitor_style3.png" border=0>
<a {$item23_menulink_attrs}>{$item23_title}</a></div>



</div>
{END item23_menulink}

{BEGIN item24_menulink}
<div id="item24" class="rnr-b-hmenu {$menustyle} Group {$item24_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/orgtech32_style1.png" border=0>
<a {$item24_menulink_attrs}>{$item24_title}</a></div>



		<ul>
		
		{BEGIN item25_menulink}
		<li parent="group24" class="Leaf {$item25_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/printer32_style3.png" border=0>
<a {$item25_menulink_attrs}>{$item25_title}</a>
</div>
</div>



		</li>
		{END item25_menulink}
				
		{BEGIN item26_menulink}
		<li parent="group24" class="Leaf {$item26_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/cartridge32_style2.png" border=0>
<a {$item26_menulink_attrs}>{$item26_title}</a>
</div>
</div>



		</li>
		{END item26_menulink}
				
		{BEGIN item27_menulink}
		<li parent="group24" class="Leaf {$item27_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/refilling32_style2.png" border=0>
<a {$item27_menulink_attrs}>{$item27_title}</a>
</div>
</div>



		</li>
		{END item27_menulink}
		</ul>
</div>
{END item24_menulink}

{BEGIN item28_menulink}
<div id="item28" class="rnr-b-hmenu {$menustyle} Leaf {$item28_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/tel32_style3.png" border=0>
<a {$item28_menulink_attrs}>{$item28_title}</a></div>



</div>
{END item28_menulink}

{BEGIN item29_menulink}
<div id="item29" class="rnr-b-hmenu {$menustyle} Leaf {$item29_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/ibp32_style2.png" border=0>
<a {$item29_menulink_attrs}>{$item29_title}</a></div>



</div>
{END item29_menulink}

{BEGIN item30_menulink}
<div id="item30" class="rnr-b-hmenu {$menustyle} Leaf {$item30_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/po32_style2(1).png" border=0>
<a {$item30_menulink_attrs}>{$item30_title}</a></div>



</div>
{END item30_menulink}

{BEGIN item31_menulink}
<div id="item31" class="rnr-b-hmenu {$menustyle} Leaf {$item31_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/ecp32_style2.png" border=0>
<a {$item31_menulink_attrs}>{$item31_title}</a></div>



</div>
{END item31_menulink}

{BEGIN item32_menulink}
<div id="item32" class="rnr-b-hmenu {$menustyle} Leaf {$item32_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/switch32_style2.png" border=0>
<a {$item32_menulink_attrs}>{$item32_title}</a></div>



</div>
{END item32_menulink}

{BEGIN item33_menulink}
<div id="item33" class="rnr-b-hmenu {$menustyle} Group {$item33_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/report32_style3.png" border=0>
<a {$item33_menulink_attrs}>{$item33_title}</a></div>



		<ul>
		
		{BEGIN item34_menulink}
		<li parent="group33" class="Group {$item34_current} menuGroup">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/lic32_style2.png" border=0>
<a {$item34_menulink_attrs}>{$item34_title}</a>
</div>
</div>



						<ul>
				
				{BEGIN item35_menulink}
				<li parent="group34" class="Leaf {$item35_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/reports_chart32_style1.png" border=0>
<a {$item35_menulink_attrs}>{$item35_title}</a>
</div>
</div>



				</li>
				{END item35_menulink}
											
				{BEGIN item36_menulink}
				<li parent="group34" class="Leaf {$item36_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/reports_dashboard32_style1.png" border=0>
<a {$item36_menulink_attrs}>{$item36_title}</a>
</div>
</div>



				</li>
				{END item36_menulink}
											
				{BEGIN item37_menulink}
				<li parent="group34" class="Leaf {$item37_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/reports_tables32_style1.png" border=0>
<a {$item37_menulink_attrs}>{$item37_title}</a>
</div>
</div>



				</li>
				{END item37_menulink}
											
				{BEGIN item38_menulink}
				<li parent="group34" class="Leaf {$item38_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/reports_chart32_style1.png" border=0>
<a {$item38_menulink_attrs}>{$item38_title}</a>
</div>
</div>



				</li>
				{END item38_menulink}
											
				{BEGIN item39_menulink}
				<li parent="group34" class="Leaf {$item39_current} menuLeaf">
					<div>
<div>
<img class="menu-icon" src="images/menuicons/reports_chart32_style1.png" border=0>
<a {$item39_menulink_attrs}>{$item39_title}</a>
</div>
</div>



				</li>
				{END item39_menulink}
							</ul>
		</li>
		{END item34_menulink}
		</ul>
</div>
{END item33_menulink}
