{BEGIN mainmenu_block}
	<ul class="rnr-b-vmenu tree {$menustyle}" data-menuname="{$menuName}">
{BEGIN menu_collapse_expand_all}
	<li class="manage">
		<div>
			<a href="#"><img alt="*" src="images/plus.gif">
				<span class=expand>развернуть</span>
				<span class="hide" style="display:none;">свернуть</span>
			</a>
		</div>
	</li>
{END menu_collapse_expand_all}

	{BEGIN item1_menulink}
	<li id="item1" class="{$item1_groupclass} {$item1_current} menuLeaf" level=1>
			<div>
<a {$item1_menulink_attrs} class="{$item1_current}">{$item1_title}</a>
</div>

	</li>
	{END item1_menulink}

	{BEGIN item2_menulink}
	<li id="item2" class="{$item2_groupclass} {$item2_current} menuLeaf" level=1>
			<div>
<a {$item2_menulink_attrs} class="{$item2_current}">{$item2_title}</a>
</div>

	</li>
	{END item2_menulink}

	{BEGIN item3_menulink}
	<li id="item3" class="{$item3_groupclass} {$item3_current} menuLeaf" level=1>
			<div>
<a {$item3_menulink_attrs} class="{$item3_current}">{$item3_title}</a>
</div>

	</li>
	{END item3_menulink}

	{BEGIN item4_menulink}
	<li id="item4" class="{$item4_groupclass} {$item4_current} menuLeaf" level=1>
			<div>
<a {$item4_menulink_attrs} class="{$item4_current}">{$item4_title}</a>
</div>

	</li>
	{END item4_menulink}

	{BEGIN item5_menulink}
	<li id="item5" class="{$item5_groupclass} {$item5_current} menuLeaf" level=1>
			<div>
<a {$item5_menulink_attrs} class="{$item5_current}">{$item5_title}</a>
</div>

	</li>
	{END item5_menulink}

	{BEGIN item6_menulink}
	<li id="item6" class="{$item6_groupclass} {$item6_current} menuLeaf" level=1>
			<div>
<a {$item6_menulink_attrs} class="{$item6_current}">{$item6_title}</a>
</div>

	</li>
	{END item6_menulink}

	{BEGIN item7_menulink}
	<li id="item7" class="{$item7_groupclass} {$item7_current} menuLeaf" level=1>
			<div>
<a {$item7_menulink_attrs} class="{$item7_current}">{$item7_title}</a>
</div>

	</li>
	{END item7_menulink}

	{BEGIN item8_menulink}
	<li id="item8" class="{$item8_groupclass} {$item8_current} menuLeaf" level=1>
			<div>
<a {$item8_menulink_attrs} class="{$item8_current}">{$item8_title}</a>
</div>

	</li>
	{END item8_menulink}

	{BEGIN item9_menulink}
	<li id="item9" class="{$item9_groupclass} {$item9_current} menuLeaf" level=1>
			<div>
<a {$item9_menulink_attrs} class="{$item9_current}">{$item9_title}</a>
</div>

	</li>
	{END item9_menulink}

	{BEGIN item10_menulink}
	<li id="item10" class="{$item10_groupclass} {$item10_current} menuLeaf" level=1>
			<div>
<a {$item10_menulink_attrs} class="{$item10_current}">{$item10_title}</a>
</div>

	</li>
	{END item10_menulink}

	{BEGIN item11_menulink}
	<li id="item11" class="{$item11_groupclass} {$item11_current} menuLeaf" level=1>
			<div>
<a {$item11_menulink_attrs} class="{$item11_current}">{$item11_title}</a>
</div>

	</li>
	{END item11_menulink}

	{BEGIN item12_menulink}
	<li id="item12" class="{$item12_groupclass} {$item12_current} menuLeaf" level=1>
			<div>
<a {$item12_menulink_attrs} class="{$item12_current}">{$item12_title}</a>
</div>

	</li>
	{END item12_menulink}

	{BEGIN item13_menulink}
	<li id="item13" class="{$item13_groupclass} {$item13_current} menuLeaf" level=1>
			<div>
<a {$item13_menulink_attrs} class="{$item13_current}">{$item13_title}</a>
</div>

	</li>
	{END item13_menulink}

	{BEGIN item14_menulink}
	<li id="item14" class="{$item14_groupclass} {$item14_current} menuLeaf" level=1>
			<div>
<a {$item14_menulink_attrs} class="{$item14_current}">{$item14_title}</a>
</div>

	</li>
	{END item14_menulink}

	{BEGIN item15_menulink}
	<li id="item15" class="{$item15_groupclass} {$item15_current} menuLeaf" level=1>
			<div>
<a {$item15_menulink_attrs} class="{$item15_current}">{$item15_title}</a>
</div>

	</li>
	{END item15_menulink}

	{BEGIN item16_menulink}
	<li id="item16" class="{$item16_groupclass} {$item16_current} menuLeaf" level=1>
			<div>
<a {$item16_menulink_attrs} class="{$item16_current}">{$item16_title}</a>
</div>

	</li>
	{END item16_menulink}

	{BEGIN item17_menulink}
	<li id="item17" class="{$item17_groupclass} {$item17_current} menuLeaf" level=1>
			<div>
<a {$item17_menulink_attrs} class="{$item17_current}">{$item17_title}</a>
</div>

	</li>
	{END item17_menulink}

	{BEGIN item18_menulink}
	<li id="item18" class="{$item18_groupclass} {$item18_current} menuLeaf" level=1>
			<div>
<a {$item18_menulink_attrs} class="{$item18_current}">{$item18_title}</a>
</div>

	</li>
	{END item18_menulink}

	{BEGIN item19_menulink}
	<li id="item19" class="{$item19_groupclass} {$item19_current} menuLeaf" level=1>
			<div>
<a {$item19_menulink_attrs} class="{$item19_current}">{$item19_title}</a>
</div>

	</li>
	{END item19_menulink}

	{BEGIN item20_menulink}
	<li id="item20" class="{$item20_groupclass} {$item20_current} menuLeaf" level=1>
			<div>
<a {$item20_menulink_attrs} class="{$item20_current}">{$item20_title}</a>
</div>

	</li>
	{END item20_menulink}

	{BEGIN item21_menulink}
	<li id="item21" class="{$item21_groupclass} {$item21_current} menuLeaf" level=1>
			<div>
<a {$item21_menulink_attrs} class="{$item21_current}">{$item21_title}</a>
</div>

	</li>
	{END item21_menulink}

	{BEGIN item22_menulink}
	<li id="item22" class="{$item22_groupclass} {$item22_current} menuLeaf" level=1>
			<div>
<a {$item22_menulink_attrs} class="{$item22_current}">{$item22_title}</a>
</div>

	</li>
	{END item22_menulink}

	{BEGIN item23_menulink}
	<li id="item23" class="{$item23_groupclass} {$item23_current} menuLeaf" level=1>
			<div>
<a {$item23_menulink_attrs} class="{$item23_current}">{$item23_title}</a>
</div>

	</li>
	{END item23_menulink}

	{BEGIN item24_menulink}
	<li id="item24" class="{$item24_groupclass} {$item24_current} menuLeaf" level=1>
			<div>
<a {$item24_menulink_attrs} class="{$item24_current}">{$item24_title}</a>
</div>

	</li>
	{END item24_menulink}

	{BEGIN item25_menulink}
	<li id="item25" class="{$item25_groupclass} {$item25_current} menuLeaf" level=1>
			<div>
<a {$item25_menulink_attrs} class="{$item25_current}">{$item25_title}</a>
</div>

	</li>
	{END item25_menulink}

	{BEGIN item26_menulink}
	<li id="item26" class="{$item26_groupclass} {$item26_current} menuLeaf" level=1>
			<div>
<a {$item26_menulink_attrs} class="{$item26_current}">{$item26_title}</a>
</div>

	</li>
	{END item26_menulink}

	{BEGIN item27_menulink}
	<li id="item27" class="{$item27_groupclass} {$item27_current} menuLeaf" level=1>
			<div>
<a {$item27_menulink_attrs} class="{$item27_current}">{$item27_title}</a>
</div>

	</li>
	{END item27_menulink}

	{BEGIN item28_menulink}
	<li id="item28" class="{$item28_groupclass} {$item28_current} menuLeaf" level=1>
			<div>
<a {$item28_menulink_attrs} class="{$item28_current}">{$item28_title}</a>
</div>

	</li>
	{END item28_menulink}

	{BEGIN item29_menulink}
	<li id="item29" class="{$item29_groupclass} {$item29_current} menuLeaf" level=1>
			<div>
<a {$item29_menulink_attrs} class="{$item29_current}">{$item29_title}</a>
</div>

	</li>
	{END item29_menulink}

	{BEGIN item30_menulink}
	<li id="item30" class="{$item30_groupclass} {$item30_current} menuLeaf" level=1>
			<div>
<a {$item30_menulink_attrs} class="{$item30_current}">{$item30_title}</a>
</div>

	</li>
	{END item30_menulink}

	{BEGIN item31_menulink}
	<li id="item31" class="{$item31_groupclass} {$item31_current} menuLeaf" level=1>
			<div>
<a {$item31_menulink_attrs} class="{$item31_current}">{$item31_title}</a>
</div>

	</li>
	{END item31_menulink}

	{BEGIN item32_menulink}
	<li id="item32" class="{$item32_groupclass} {$item32_current} menuLeaf" level=1>
			<div>
<a {$item32_menulink_attrs} class="{$item32_current}">{$item32_title}</a>
</div>

	</li>
	{END item32_menulink}

	{BEGIN item33_menulink}
	<li id="item33" class="{$item33_groupclass} {$item33_current} menuLeaf" level=1>
			<div>
<a {$item33_menulink_attrs} class="{$item33_current}">{$item33_title}</a>
</div>

	</li>
	{END item33_menulink}

	{BEGIN item34_menulink}
	<li id="item34" class="{$item34_groupclass} {$item34_current} menuLeaf" level=1>
			<div>
<a {$item34_menulink_attrs} class="{$item34_current}">{$item34_title}</a>
</div>

	</li>
	{END item34_menulink}

	{BEGIN item35_menulink}
	<li id="item35" class="{$item35_groupclass} {$item35_current} menuLeaf" level=1>
			<div>
<a {$item35_menulink_attrs} class="{$item35_current}">{$item35_title}</a>
</div>

	</li>
	{END item35_menulink}

	{BEGIN item36_menulink}
	<li id="item36" class="{$item36_groupclass} {$item36_current} menuLeaf" level=1>
			<div>
<a {$item36_menulink_attrs} class="{$item36_current}">{$item36_title}</a>
</div>

	</li>
	{END item36_menulink}

	{BEGIN item37_menulink}
	<li id="item37" class="{$item37_groupclass} {$item37_current} menuLeaf" level=1>
			<div>
<a {$item37_menulink_attrs} class="{$item37_current}">{$item37_title}</a>
</div>

	</li>
	{END item37_menulink}

	{BEGIN item38_menulink}
	<li id="item38" class="{$item38_groupclass} {$item38_current} menuLeaf" level=1>
			<div>
<a {$item38_menulink_attrs} class="{$item38_current}">{$item38_title}</a>
</div>

	</li>
	{END item38_menulink}

	{BEGIN item39_menulink}
	<li id="item39" class="{$item39_groupclass} {$item39_current} menuLeaf" level=1>
			<div>
<a {$item39_menulink_attrs} class="{$item39_current}">{$item39_title}</a>
</div>

	</li>
	{END item39_menulink}

	{BEGIN item40_menulink}
	<li id="item40" class="{$item40_groupclass} {$item40_current} menuLeaf" level=1>
			<div>
<a {$item40_menulink_attrs} class="{$item40_current}">{$item40_title}</a>
</div>

	</li>
	{END item40_menulink}
</ul>
{END mainmenu_block}


