<tr id="item1" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink1">
					Права доступа
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
<tr id="item2" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink2">
					Назначить группы для пользователей
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
<tr id="item3" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink3">
					Добавить / Изменить пользователей
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
