{BEGIN mainmenu_block}
{BEGIN treeLikeTypeMenu}
	<tr class="runner-b-vmenu runner-vmenu tree">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		<div class="manage">
			<a href="#"><img alt="*" src="images/plus.gif">
				развернуть
			</a>
		</div>
	</td>
	<td class="runner-cr"></td>
</tr>


{BEGIN item1_menulink}
<tr id="item1" view="topitem" class="runner-b-vmenu runner-vmenu tree Group{BEGIN item1_current} current{END item1_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item1_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item1_groupimage}
<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>

{BEGIN item2_menulink}
<tr id="item2" topparent="item1" parent="item1" class="runner-b-vmenu runner-vmenu tree subitem level1 Group{BEGIN item2_current} current{END item2_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item2_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item2_groupimage}
<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>

{BEGIN item3_menulink}
<tr id="item3" topparent="item1" parent="item2" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item3_current} current{END item3_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item3_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item3_groupimage}
<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item3_menulink}

{BEGIN item4_menulink}
<tr id="item4" topparent="item1" parent="item2" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item4_current} current{END item4_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item4_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item4_groupimage}
<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item4_menulink}

{BEGIN item5_menulink}
<tr id="item5" topparent="item1" parent="item2" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item5_current} current{END item5_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item5_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item5_groupimage}
<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item5_menulink}
{END item2_menulink}

{BEGIN item6_menulink}
<tr id="item6" topparent="item1" parent="item1" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item6_current} current{END item6_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item6_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item6_groupimage}
<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item6_menulink}

{BEGIN item7_menulink}
<tr id="item7" topparent="item1" parent="item1" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item7_current} current{END item7_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item7_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item7_groupimage}
<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item7_menulink}

{BEGIN item8_menulink}
<tr id="item8" topparent="item1" parent="item1" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item8_current} current{END item8_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item8_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item8_groupimage}
<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item8_menulink}

{BEGIN item9_menulink}
<tr id="item9" topparent="item1" parent="item1" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item9_current} current{END item9_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item9_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item9_groupimage}
<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item9_menulink}

{BEGIN item10_menulink}
<tr id="item10" topparent="item1" parent="item1" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item10_current} current{END item10_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item10_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item10_groupimage}
<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item10_menulink}
{END item1_menulink}

{BEGIN item11_menulink}
<tr id="item11" view="topitem" class="runner-b-vmenu runner-vmenu tree Group{BEGIN item11_current} current{END item11_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item11_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item11_groupimage}
<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>

{BEGIN item12_menulink}
<tr id="item12" topparent="item11" parent="item11" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item12_current} current{END item12_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item12_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item12_groupimage}
<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item12_menulink}

{BEGIN item13_menulink}
<tr id="item13" topparent="item11" parent="item11" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item13_current} current{END item13_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item13_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item13_groupimage}
<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item13_menulink}

{BEGIN item14_menulink}
<tr id="item14" topparent="item11" parent="item11" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item14_current} current{END item14_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item14_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item14_groupimage}
<a {$item14_menulink_attrs} {BEGIN item14_current}class="curlink"{END item14_current}>{$item14_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item14_menulink}

{BEGIN item15_menulink}
<tr id="item15" topparent="item11" parent="item11" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item15_current} current{END item15_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item15_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item15_groupimage}
<a {$item15_menulink_attrs} {BEGIN item15_current}class="curlink"{END item15_current}>{$item15_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item15_menulink}

{BEGIN item16_menulink}
<tr id="item16" topparent="item11" parent="item11" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item16_current} current{END item16_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item16_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item16_groupimage}
<a {$item16_menulink_attrs} {BEGIN item16_current}class="curlink"{END item16_current}>{$item16_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item16_menulink}

{BEGIN item17_menulink}
<tr id="item17" topparent="item11" parent="item11" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item17_current} current{END item17_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item17_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item17_groupimage}
<a {$item17_menulink_attrs} {BEGIN item17_current}class="curlink"{END item17_current}>{$item17_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item17_menulink}

{BEGIN item18_menulink}
<tr id="item18" topparent="item11" parent="item11" class="runner-b-vmenu runner-vmenu tree subitem level1 Group{BEGIN item18_current} current{END item18_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item18_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item18_groupimage}
<a {$item18_menulink_attrs} {BEGIN item18_current}class="curlink"{END item18_current}>{$item18_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>

{BEGIN item19_menulink}
<tr id="item19" topparent="item11" parent="item18" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item19_current} current{END item19_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item19_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item19_groupimage}
<a {$item19_menulink_attrs} {BEGIN item19_current}class="curlink"{END item19_current}>{$item19_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item19_menulink}

{BEGIN item20_menulink}
<tr id="item20" topparent="item11" parent="item18" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item20_current} current{END item20_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item20_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item20_groupimage}
<a {$item20_menulink_attrs} {BEGIN item20_current}class="curlink"{END item20_current}>{$item20_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item20_menulink}
{END item18_menulink}
{END item11_menulink}

{BEGIN item21_menulink}
<tr id="item21" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item21_current} current{END item21_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item21_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item21_groupimage}
<a {$item21_menulink_attrs} {BEGIN item21_current}class="curlink"{END item21_current}>{$item21_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item21_menulink}

{BEGIN item22_menulink}
<tr id="item22" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item22_current} current{END item22_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item22_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item22_groupimage}
<a {$item22_menulink_attrs} {BEGIN item22_current}class="curlink"{END item22_current}>{$item22_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item22_menulink}

{BEGIN item23_menulink}
<tr id="item23" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item23_current} current{END item23_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item23_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item23_groupimage}
<a {$item23_menulink_attrs} {BEGIN item23_current}class="curlink"{END item23_current}>{$item23_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item23_menulink}

{BEGIN item24_menulink}
<tr id="item24" view="topitem" class="runner-b-vmenu runner-vmenu tree Group{BEGIN item24_current} current{END item24_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item24_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item24_groupimage}
<a {$item24_menulink_attrs} {BEGIN item24_current}class="curlink"{END item24_current}>{$item24_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>

{BEGIN item25_menulink}
<tr id="item25" topparent="item24" parent="item24" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item25_current} current{END item25_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item25_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item25_groupimage}
<a {$item25_menulink_attrs} {BEGIN item25_current}class="curlink"{END item25_current}>{$item25_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item25_menulink}

{BEGIN item26_menulink}
<tr id="item26" topparent="item24" parent="item24" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item26_current} current{END item26_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item26_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item26_groupimage}
<a {$item26_menulink_attrs} {BEGIN item26_current}class="curlink"{END item26_current}>{$item26_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item26_menulink}

{BEGIN item27_menulink}
<tr id="item27" topparent="item24" parent="item24" class="runner-b-vmenu runner-vmenu tree subitem level1 Leaf{BEGIN item27_current} current{END item27_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item27_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item27_groupimage}
<a {$item27_menulink_attrs} {BEGIN item27_current}class="curlink"{END item27_current}>{$item27_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item27_menulink}
{END item24_menulink}

{BEGIN item28_menulink}
<tr id="item28" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item28_current} current{END item28_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item28_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item28_groupimage}
<a {$item28_menulink_attrs} {BEGIN item28_current}class="curlink"{END item28_current}>{$item28_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item28_menulink}

{BEGIN item29_menulink}
<tr id="item29" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item29_current} current{END item29_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item29_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item29_groupimage}
<a {$item29_menulink_attrs} {BEGIN item29_current}class="curlink"{END item29_current}>{$item29_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item29_menulink}

{BEGIN item30_menulink}
<tr id="item30" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item30_current} current{END item30_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item30_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item30_groupimage}
<a {$item30_menulink_attrs} {BEGIN item30_current}class="curlink"{END item30_current}>{$item30_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item30_menulink}

{BEGIN item31_menulink}
<tr id="item31" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item31_current} current{END item31_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item31_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item31_groupimage}
<a {$item31_menulink_attrs} {BEGIN item31_current}class="curlink"{END item31_current}>{$item31_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item31_menulink}

{BEGIN item32_menulink}
<tr id="item32" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item32_current} current{END item32_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item32_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item32_groupimage}
<a {$item32_menulink_attrs} {BEGIN item32_current}class="curlink"{END item32_current}>{$item32_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item32_menulink}

{BEGIN item33_menulink}
<tr id="item33" view="topitem" class="runner-b-vmenu runner-vmenu tree Group{BEGIN item33_current} current{END item33_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item33_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item33_groupimage}
<a {$item33_menulink_attrs} {BEGIN item33_current}class="curlink"{END item33_current}>{$item33_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>

{BEGIN item34_menulink}
<tr id="item34" topparent="item33" parent="item33" class="runner-b-vmenu runner-vmenu tree subitem level1 Group{BEGIN item34_current} current{END item34_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item34_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item34_groupimage}
<a {$item34_menulink_attrs} {BEGIN item34_current}class="curlink"{END item34_current}>{$item34_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>

{BEGIN item35_menulink}
<tr id="item35" topparent="item33" parent="item34" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item35_current} current{END item35_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item35_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item35_groupimage}
<a {$item35_menulink_attrs} {BEGIN item35_current}class="curlink"{END item35_current}>{$item35_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item35_menulink}

{BEGIN item36_menulink}
<tr id="item36" topparent="item33" parent="item34" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item36_current} current{END item36_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item36_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item36_groupimage}
<a {$item36_menulink_attrs} {BEGIN item36_current}class="curlink"{END item36_current}>{$item36_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item36_menulink}

{BEGIN item37_menulink}
<tr id="item37" topparent="item33" parent="item34" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item37_current} current{END item37_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item37_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item37_groupimage}
<a {$item37_menulink_attrs} {BEGIN item37_current}class="curlink"{END item37_current}>{$item37_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item37_menulink}

{BEGIN item38_menulink}
<tr id="item38" topparent="item33" parent="item34" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item38_current} current{END item38_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item38_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item38_groupimage}
<a {$item38_menulink_attrs} {BEGIN item38_current}class="curlink"{END item38_current}>{$item38_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item38_menulink}

{BEGIN item39_menulink}
<tr id="item39" topparent="item33" parent="item34" class="runner-b-vmenu runner-vmenu tree subitem level2 Leaf{BEGIN item39_current} current{END item39_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item39_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item39_groupimage}
<a {$item39_menulink_attrs} {BEGIN item39_current}class="curlink"{END item39_current}>{$item39_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item39_menulink}
{END item34_menulink}
{END item33_menulink}
		{BEGIN adminarea_link}
	<tr id="itemAAS" view="topitem" class="runner-b-vmenu runner-vmenu tree Separator">
	<td class="runner-cl"></td>	
	<td class="runner-cc">{$itemAAS_separator}</td>
	<td class="runner-cr"></td>
</tr>
<tr id="itemAA" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
	{END adminarea_link}

{END treeLikeTypeMenu}
	
{BEGIN simpleTypeMenu}
	
{BEGIN item1_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Group{BEGIN item1_current} current{END item1_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item1_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item1_groupimage}
<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>



				<ul>
		
			{BEGIN item2_menulink}
			<li parent="group1" class="Group{BEGIN item2_current} current{END item2_current}">
				{BEGIN item2_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item2_groupimage}
<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>



								<ul>
				
					{BEGIN item3_menulink}
					<li parent="group2" class="Leaf{BEGIN item3_current} current{END item3_current}">
						{BEGIN item3_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item3_groupimage}
<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>



					</li>
					{END item3_menulink}
												
					{BEGIN item4_menulink}
					<li parent="group2" class="Leaf{BEGIN item4_current} current{END item4_current}">
						{BEGIN item4_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item4_groupimage}
<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>



					</li>
					{END item4_menulink}
												
					{BEGIN item5_menulink}
					<li parent="group2" class="Leaf{BEGIN item5_current} current{END item5_current}">
						{BEGIN item5_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item5_groupimage}
<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>



					</li>
					{END item5_menulink}
								</ul>
			</li>
			{END item2_menulink}
						
			{BEGIN item6_menulink}
			<li parent="group1" class="Leaf{BEGIN item6_current} current{END item6_current}">
				{BEGIN item6_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item6_groupimage}
<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>



			</li>
			{END item6_menulink}
						
			{BEGIN item7_menulink}
			<li parent="group1" class="Leaf{BEGIN item7_current} current{END item7_current}">
				{BEGIN item7_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item7_groupimage}
<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>



			</li>
			{END item7_menulink}
						
			{BEGIN item8_menulink}
			<li parent="group1" class="Leaf{BEGIN item8_current} current{END item8_current}">
				{BEGIN item8_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item8_groupimage}
<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>



			</li>
			{END item8_menulink}
						
			{BEGIN item9_menulink}
			<li parent="group1" class="Leaf{BEGIN item9_current} current{END item9_current}">
				{BEGIN item9_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item9_groupimage}
<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>



			</li>
			{END item9_menulink}
						
			{BEGIN item10_menulink}
			<li parent="group1" class="Leaf{BEGIN item10_current} current{END item10_current}">
				{BEGIN item10_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item10_groupimage}
<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>



			</li>
			{END item10_menulink}
				</ul>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item1_menulink}

{BEGIN item11_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Group{BEGIN item11_current} current{END item11_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item11_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item11_groupimage}
<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>



				<ul>
		
			{BEGIN item12_menulink}
			<li parent="group11" class="Leaf{BEGIN item12_current} current{END item12_current}">
				{BEGIN item12_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item12_groupimage}
<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>



			</li>
			{END item12_menulink}
						
			{BEGIN item13_menulink}
			<li parent="group11" class="Leaf{BEGIN item13_current} current{END item13_current}">
				{BEGIN item13_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item13_groupimage}
<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>



			</li>
			{END item13_menulink}
						
			{BEGIN item14_menulink}
			<li parent="group11" class="Leaf{BEGIN item14_current} current{END item14_current}">
				{BEGIN item14_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item14_groupimage}
<a {$item14_menulink_attrs} {BEGIN item14_current}class="curlink"{END item14_current}>{$item14_title}</a>



			</li>
			{END item14_menulink}
						
			{BEGIN item15_menulink}
			<li parent="group11" class="Leaf{BEGIN item15_current} current{END item15_current}">
				{BEGIN item15_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item15_groupimage}
<a {$item15_menulink_attrs} {BEGIN item15_current}class="curlink"{END item15_current}>{$item15_title}</a>



			</li>
			{END item15_menulink}
						
			{BEGIN item16_menulink}
			<li parent="group11" class="Leaf{BEGIN item16_current} current{END item16_current}">
				{BEGIN item16_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item16_groupimage}
<a {$item16_menulink_attrs} {BEGIN item16_current}class="curlink"{END item16_current}>{$item16_title}</a>



			</li>
			{END item16_menulink}
						
			{BEGIN item17_menulink}
			<li parent="group11" class="Leaf{BEGIN item17_current} current{END item17_current}">
				{BEGIN item17_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item17_groupimage}
<a {$item17_menulink_attrs} {BEGIN item17_current}class="curlink"{END item17_current}>{$item17_title}</a>



			</li>
			{END item17_menulink}
						
			{BEGIN item18_menulink}
			<li parent="group11" class="Group{BEGIN item18_current} current{END item18_current}">
				{BEGIN item18_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item18_groupimage}
<a {$item18_menulink_attrs} {BEGIN item18_current}class="curlink"{END item18_current}>{$item18_title}</a>



								<ul>
				
					{BEGIN item19_menulink}
					<li parent="group18" class="Leaf{BEGIN item19_current} current{END item19_current}">
						{BEGIN item19_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item19_groupimage}
<a {$item19_menulink_attrs} {BEGIN item19_current}class="curlink"{END item19_current}>{$item19_title}</a>



					</li>
					{END item19_menulink}
												
					{BEGIN item20_menulink}
					<li parent="group18" class="Leaf{BEGIN item20_current} current{END item20_current}">
						{BEGIN item20_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item20_groupimage}
<a {$item20_menulink_attrs} {BEGIN item20_current}class="curlink"{END item20_current}>{$item20_title}</a>



					</li>
					{END item20_menulink}
								</ul>
			</li>
			{END item18_menulink}
				</ul>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item11_menulink}

{BEGIN item21_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item21_current} current{END item21_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item21_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item21_groupimage}
<a {$item21_menulink_attrs} {BEGIN item21_current}class="curlink"{END item21_current}>{$item21_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item21_menulink}

{BEGIN item22_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item22_current} current{END item22_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item22_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item22_groupimage}
<a {$item22_menulink_attrs} {BEGIN item22_current}class="curlink"{END item22_current}>{$item22_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item22_menulink}

{BEGIN item23_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item23_current} current{END item23_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item23_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item23_groupimage}
<a {$item23_menulink_attrs} {BEGIN item23_current}class="curlink"{END item23_current}>{$item23_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item23_menulink}

{BEGIN item24_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Group{BEGIN item24_current} current{END item24_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item24_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item24_groupimage}
<a {$item24_menulink_attrs} {BEGIN item24_current}class="curlink"{END item24_current}>{$item24_title}</a>



				<ul>
		
			{BEGIN item25_menulink}
			<li parent="group24" class="Leaf{BEGIN item25_current} current{END item25_current}">
				{BEGIN item25_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item25_groupimage}
<a {$item25_menulink_attrs} {BEGIN item25_current}class="curlink"{END item25_current}>{$item25_title}</a>



			</li>
			{END item25_menulink}
						
			{BEGIN item26_menulink}
			<li parent="group24" class="Leaf{BEGIN item26_current} current{END item26_current}">
				{BEGIN item26_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item26_groupimage}
<a {$item26_menulink_attrs} {BEGIN item26_current}class="curlink"{END item26_current}>{$item26_title}</a>



			</li>
			{END item26_menulink}
						
			{BEGIN item27_menulink}
			<li parent="group24" class="Leaf{BEGIN item27_current} current{END item27_current}">
				{BEGIN item27_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item27_groupimage}
<a {$item27_menulink_attrs} {BEGIN item27_current}class="curlink"{END item27_current}>{$item27_title}</a>



			</li>
			{END item27_menulink}
				</ul>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item24_menulink}

{BEGIN item28_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item28_current} current{END item28_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item28_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item28_groupimage}
<a {$item28_menulink_attrs} {BEGIN item28_current}class="curlink"{END item28_current}>{$item28_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item28_menulink}

{BEGIN item29_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item29_current} current{END item29_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item29_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item29_groupimage}
<a {$item29_menulink_attrs} {BEGIN item29_current}class="curlink"{END item29_current}>{$item29_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item29_menulink}

{BEGIN item30_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item30_current} current{END item30_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item30_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item30_groupimage}
<a {$item30_menulink_attrs} {BEGIN item30_current}class="curlink"{END item30_current}>{$item30_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item30_menulink}

{BEGIN item31_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item31_current} current{END item31_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item31_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item31_groupimage}
<a {$item31_menulink_attrs} {BEGIN item31_current}class="curlink"{END item31_current}>{$item31_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item31_menulink}

{BEGIN item32_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item32_current} current{END item32_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item32_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item32_groupimage}
<a {$item32_menulink_attrs} {BEGIN item32_current}class="curlink"{END item32_current}>{$item32_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item32_menulink}

{BEGIN item33_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Group{BEGIN item33_current} current{END item33_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item33_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item33_groupimage}
<a {$item33_menulink_attrs} {BEGIN item33_current}class="curlink"{END item33_current}>{$item33_title}</a>



				<ul>
		
			{BEGIN item34_menulink}
			<li parent="group33" class="Group{BEGIN item34_current} current{END item34_current}">
				{BEGIN item34_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item34_groupimage}
<a {$item34_menulink_attrs} {BEGIN item34_current}class="curlink"{END item34_current}>{$item34_title}</a>



								<ul>
				
					{BEGIN item35_menulink}
					<li parent="group34" class="Leaf{BEGIN item35_current} current{END item35_current}">
						{BEGIN item35_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item35_groupimage}
<a {$item35_menulink_attrs} {BEGIN item35_current}class="curlink"{END item35_current}>{$item35_title}</a>



					</li>
					{END item35_menulink}
												
					{BEGIN item36_menulink}
					<li parent="group34" class="Leaf{BEGIN item36_current} current{END item36_current}">
						{BEGIN item36_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item36_groupimage}
<a {$item36_menulink_attrs} {BEGIN item36_current}class="curlink"{END item36_current}>{$item36_title}</a>



					</li>
					{END item36_menulink}
												
					{BEGIN item37_menulink}
					<li parent="group34" class="Leaf{BEGIN item37_current} current{END item37_current}">
						{BEGIN item37_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item37_groupimage}
<a {$item37_menulink_attrs} {BEGIN item37_current}class="curlink"{END item37_current}>{$item37_title}</a>



					</li>
					{END item37_menulink}
												
					{BEGIN item38_menulink}
					<li parent="group34" class="Leaf{BEGIN item38_current} current{END item38_current}">
						{BEGIN item38_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item38_groupimage}
<a {$item38_menulink_attrs} {BEGIN item38_current}class="curlink"{END item38_current}>{$item38_title}</a>



					</li>
					{END item38_menulink}
												
					{BEGIN item39_menulink}
					<li parent="group34" class="Leaf{BEGIN item39_current} current{END item39_current}">
						{BEGIN item39_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item39_groupimage}
<a {$item39_menulink_attrs} {BEGIN item39_current}class="curlink"{END item39_current}>{$item39_title}</a>



					</li>
					{END item39_menulink}
								</ul>
			</li>
			{END item34_menulink}
				</ul>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item33_menulink}
		{BEGIN adminarea_link}
	<tr id="itemAAS" view="topitem" class="runner-b-vmenu runner-vmenu tree Separator">
	<td class="runner-cl"></td>	
	<td class="runner-cc">{$itemAAS_separator}</td>
	<td class="runner-cr"></td>
</tr>
<tr id="itemAA" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
	{END adminarea_link}

{END simpleTypeMenu}

{BEGIN adminAreaTypeMenu}
{BEGIN item1_menulink}
<tr id="item1" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item1_current} current{END item1_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item1_menulink_attrs}>{$item1_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item1_menulink}
{BEGIN item2_menulink}
<tr id="item2" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item2_current} current{END item2_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item2_menulink_attrs}>{$item2_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item2_menulink}
{BEGIN item3_menulink}
<tr id="item3" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item3_current} current{END item3_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item3_menulink_attrs}>{$item3_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item3_menulink}

{END adminAreaTypeMenu}
{END mainmenu_block}
